/*------------------------------------------------------------------------------------------------------------------
About section for About Page
------------------------------------------------------------------------------------------------------------------*/
.about-about h2, .about-about h3 {
  @extend %white-clr;
}

.about-about .about-row {
  @extend %section_offset;

  .animated{
    @extend %opacity-0;
  }
}

.about-about .lead-img {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    @extend %grey-lgt-bg;
    @include img-hover;
  }

  figcaption {
    position: absolute;
    bottom: $baseline;
    left: $baseline / 2;

    h2{
      position: relative;
      z-index: 12;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }
  }

  @media (max-width: 1023px) {
    height: 24rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
    figcaption {
      bottom: $baseline;
      left: $baseline / 2;
    }
  }

  @media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    height: 100%;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: auto;
    }
  }

  @media (max-width: 767px) {
    height: 100%;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.about-about .our-services .additional-img {
  overflow: hidden;
  height: 50%;
  position: relative;
  width: auto;
  margin-bottom: $element_offset / 2;

  img {
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    @extend %grey-lgt-bg;
    @include img-hover;
  }

  figcaption {
    position: absolute;
    bottom: $baseline / 2;
    left: $baseline / 2;
    margin: 0;

    h3 {
      margin: 0;
      position: relative;
      z-index: 12;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }
  }

  @media (max-width: 1023px) {
    height: 24rem;
    width: 100%;
    margin-bottom: $element_offset / 2;
 
  img {
    width: 100%;
    height: 100%;
  }
}

  @media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
      height: 50%;
      width: auto;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: auto;
    }
  }

  @media (max-width: 767px) {
      height: auto;
      width: 100%;

    img {
      width: 100%;
    }
  }
}

.about-about .about-description {
  padding: 0 $baseline;

  p:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1023px) {
    padding: 0 15px;
  }
}

@media (max-width: 1023px) {
  .about-about .lead-img,
  .about-about .about-description {
    margin-bottom: $element_offset / 2;
  }

  .about-about .lead-img,
  .about-about .our-services .additional-img{
    height: 12 * $baseline;
  }
}

@media(max-width: 575px){
  .about-about .lead-img,
  .about-about .our-services .additional-img{
    height: 9 * $baseline;
  }
}

@media (max-width: 480px) {
  .about-about .lead-img,
  .about-about .about-description {
    margin-bottom:  $element_offset / 2;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  .about-about .lead-img {
    width: auto;
    height: 100%;
    overflow: hidden;
  }
  .about-about .lead-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .about-about .lead-img,
  .about-about .about-description {
    margin-bottom: 0 !important;
  }
}
