/*------------------------------------------------------------------------------------------------------------------
Animations
------------------------------------------------------------------------------------------------------------------*/
%opacity-0{
  opacity: 0;
}

%transition-35{
  transition: all .35s ease-in-out;
}
%transition-5{
  transition: all .5s ease-in-out;
}

%opacity-toggle{
  opacity: 0;

  &.animated{
    animation-duration: 0.5s;
    opacity: 1;
  }
}
%animated,
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

%animated-2s{
  animation-duration: 2s !important;
  animation-timing-function: ease-in-out;
}

%animated-08s{
  animation-duration: 0.8s !important;
  animation-timing-function: ease-in-out;
}

@for $i from 1 through 24 {
  .sidebar-nav > li {
    &:nth-child(#{$i}){
      animation-delay: $i * (1 / 12) * 1s;
    }
  }
}

@for $i from 1 through 12 {
  #filters button{
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 0.1s;
    }  
  }  
}

@for $i from 1 through 12 {
  #owl-filters button{
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 0.1s;
    }  
  }  
}

@for $i from 1 through 6 {
  .social div{
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 0.1s;
    }  
  }  
}

@for $i from 1 through 4 {
  #latest-projects .owl-item{
    &:nth-child(#{$i}) > .project{
      animation-delay: ($i - 1) * 0.1s;
    }  
  }  
}

@for $i from 1 through 4 {
  #news div[class^="col-"]{
    &:nth-child(#{$i}) > .post img{
      animation-delay: ($i - 1) * 0.1s;
    }  
  }  
}

@for $i from 1 through 4 {
  .f-box{
    &:nth-child(#{$i}){
      animation-delay: ($i - 1) * 0.1s;
    }  
  }  
}

@for $i from 1 through 6 {
  #steps-bg .nav-link{
    &:nth-child(#{$i}){
      animation-delay: ($i - 1) * 0.1s;
    }  
  }  
}

@for $i from 1 through 6 {
  .list-horizontal li{
    &:nth-child(#{$i}){
      animation-delay: ($i + 5) * 0.2s;
    }  
  }
}

@for $i from 1 through 4{
  .list-horizontal-img li{
    &:nth-child(#{$i}){
      animation-delay: ($i + 2) * 0.2s;
    }  
  }
}

@for $i from 1 through 12 {
  #clients .owl-item{
    &:nth-child(#{$i}) > .client-wrap{
      animation-delay: ($i) * 0.1s;
    }  
  }  
}

@for $i from 1 through 5 {
  
}

.striped-wrap-6.rain .tile{
  &:nth-child(3){
    &::after{
      animation-delay: 2s;
    }
  } 
  &:nth-child(2){
    &::after{
      animation-delay: 2.8s;
    }
  }
  &:nth-child(4){
    &::after{
      animation-delay: 3.4s;
    }
  }
  &:nth-child(1){
    &::after{
      animation-delay: 4.2s;
    }
  } 

  &:nth-child(5){
    &::after{
      animation-delay: 5.0s;
    }
  }     
}

@for $i from 1 through 3 {
  .striped-wrap-4 .tile{
    &:nth-child(#{$i}){
      &::after{
        animation-delay: ($i) * 1.2s;
      }
    }  
  }
}

/*--------------------------Keyfames-----------------------------*/

@keyframes width-out {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes width-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes showIn {
  0% {
    opacity: 0;
    filter: opacity(0);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: opacity(100%);
  }
}

@keyframes showDown {
  0% {
    opacity: 0;
    filter: opacity(0);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    filter: opacity(100%);
    transform: translateY(0);
  }
}

@keyframes showLeft {
  0% {
    opacity: 0;
    filter: opacity(0);
    transform: translateX(-10px) scale(.9);
  }
  100% {
    opacity: 1;
    filter: opacity(100%);
    transform: translateX(0) scale(1);
  }
}

@keyframes showRight {
  0% {
    opacity: 0;
    filter: opacity(0);
    transform: translateX(10px) scale(.9);
  }
  100% {
    opacity: 1;
    filter: opacity(100%);
    transform: translateX(0) scale(1);
  }
}

@keyframes flipForwards {
  from {
   transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

@keyframes flipBack {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}

@keyframes flip-scale-up-hor {
  0% {
   transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    transform: scale(1) rotateX(-180deg);
  }
}


@keyframes slide-width {
  from {
    width: 0;
  }
  to {
    width: 20px;
  }
}

@keyframes slide-height {
  from {
    height: 0;
  }
  to {
    height: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  } 
}

@keyframes fadeOut30 {
  from {
    opacity: 1;
  }
  to {
    opacity: .3;
  } 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1 ;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-25px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInOut {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  } 
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
    transform: scale(0.95) rotate(0.1deg);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    transform: scale(1) rotate(0.1deg);
  }
}

@keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);

  }
  100% {
    transform: translateY(0);
  }
}

@keyframes imgPrevAnim {
  0% {
    transform: translateY(0);
  }
 
  100% {
    transform: translateY(100%);
  }
}


@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-up-center {
   0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  100% {
    box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    transform: scale(1);
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    transform: scale(0.95) rotate(0.1deg);
  }
}

@keyframes slide-bottom {
  0% {
   transform: translateY(-100px);
   opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
/*--------------------------Animation Classes---------------------------*/
.slide-out-left {
  animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
.fadeOutLeft {
  animation-name: fadeOutLeft;
}
.fadeOut {
  animation-name: fadeOutLeft;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.widthIn {
  animation: 1s linear 0.5s both width-in;
}

.showIn {
  animation: .8s ease-in-out both showIn;
}

.showDown {
  animation: 1s linear both showDown;
}

.showLeft {
  animation: 1s linear both showLeft;
}

.showRight {
  animation: 1s linear both showRight;
}

.shadow-inset-center {
  animation: shadow-inset-center 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}

.flip-scale-up-hor {
  animation: flip-scale-up-hor 0.5s linear both;
}

.fade-in-right {
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out-left {
  animation: fade-out-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tracking-in-expand {
  animation: tracking-in-expand .35s cubic-bezier(0.215, 0.610, 0.355, 1.000) .6s both;
}

.tracking-in-contract {
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-up-ver-center {
  animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-bottom {
  animation: slide-bottom 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
}

/*-----------------------------Reveal Animation---------------------------------*/

.has-animation {
  position: relative;

  img,
  .anim-img {
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 10;
      @extend %white-bg;
      @include object-fit;
  }

  &.animate-in {
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      z-index: 9;
      background-color: $grey-lgt;
    } 
  }

  &.animation-ltr.animate-in {
    &:before{
      animation: revealLTR 0.6s cubic-bezier(.4,0,0,1) forwards !important;
    }
    img,
    .anim-img {
      animation: revealRTL 0.6s 0.6s cubic-bezier(.4,0,0,1) forwards !important;
    }
  }
  &.animation-rtl.animate-in {
    &:before {
      animation: revealRTL 0.6s cubic-bezier(.4,0,0,1) forwards !important;
    }
    img,
    .anim-img {
      animation: revealLTR 0.6s 0.6s cubic-bezier(.4,0,0,1) forwards !important;
    }
  }
}

@keyframes revealRTL {
  0%{
    width: 0;
    right:0;
  }

  100%{
    width: 100%;
    right: 0;
  }
}

@keyframes revealLTR {
  0%{
    width: 0;
    left: 0;
  }
  100%{
    width: 100%;
    left: 0;
  }
}

@keyframes run{
  0%{
      top: -50%;
    }
  100%{
    top: 110%;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }
  50% { 
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
  }
}
//Reveal Animation
$time-reveal: 1.2s;
.make-reveal{
  position: relative;  
  overflow: hidden;
  width: 100%;
  // height: 100%;
  display: block;

  &:before{
    content: '';
    height: 100%;
    display: block;    
    position: absolute;
    opacity: 1;
    top: 0;
    animation: makeReveal $time-reveal 0.1s ease;
    z-index: 2;
    @extend %grey-lgt-bg;
  }  
}

.reveal-block{
  animation-duration: 0.1s;
  animation-delay: $time-reveal / 2;
  animation-fill-mode: both;
  z-index: 1;
  height: 100%;
  width: 100%;
}

@keyframes makeReveal{
  0%{
    transform-origin: 0% 100%;
    width: 0;   
  }
  50%{
    width: 100%;
    transform-origin: 100% 0%;
  }
  100%{
    width: 0;
  }
}

