/*------------------------------------------------------------------------------------------------------------------
Related Posts
------------------------------------------------------------------------------------------------------------------*/
.related-posts {
  @extend %section_offset;

  .header {
    @extend %element_offset_small;
  }

  .rel-post {
    display: block;

    figure,
    .rp-video,
    .rp-meta {
      margin-bottom: $baseline / 3;

      img{
        width: auto;
        height: 4 * $baseline;
        @include object-fit;
      }
    }

    .rp-meta {
      @extend %grey-blue-clr;
    }
  }
}


@media (max-width: 1023px) {
  .related-posts .rel-post {
    margin-bottom:  $element_offset / 2;

    figure img{
      width: 100%;
      height: 9 * $baseline;
    }
  }
}

@media (max-width: 767px) {
  .related-posts .rel-post {
    figure img{
      height: 6 * $baseline;
    }
  }
}

@media (max-width: 575px) {
  .related-posts .rel-post {
    figure img{
      height: auto;
    }
  }
}