/*------------------------------------------------------------------------------------------------------------------
Custom button's styles for Leitmotiv Template
------------------------------------------------------------------------------------------------------------------*/
button:focus {
  outline: 0 !important;
}

.disabled {
  cursor: not-allowed !important;
}

.btn {
  border-radius: 0;
  padding: 0.9rem 1.8rem !important;
  transition: .2s ease-out;  
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

  span {
    position: relative;
    display: inline-block;

    &:after {
      content: attr(data-after);
      position: absolute; 
      left: 0;
      top: 0;
      transition: all 1s ease-in-out;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      @extend %main-clr;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

/*------------------------btn elegant-------------------------*/

.btn-elegant {
  background-color: #2E2E2E;
}

.btn-elegant:hover {
  background-color: #3b3b3b !important;
}

.btn-elegant:focus,
.btn-elegant:active,
.btn-elegant.active {
  background-color: #080808 !important;
}

.btn-elegant.dropdown-toggle {
  background-color: #2E2E2E !important;
}

.btn-elegant.dropdown-toggle:hover,
.btn-elegant.dropdown-toggle:focus {
  background-color: #3b3b3b !important;
}

.btn-elegant span {
  @extend %white-clr;
}

.btn-elegant span:after {
  @extend %accent-clr;
}

.btn-elegant i { 
  @extend %main-clr;
}

/*------------------------btn-ltv-------------------------*/

.btn-ltv {
  @extend %main-bg;

  span {
    @extend %white-clr;

    &:after {
      color: $accent-clr;
    }
  }

  &:hover {
    background: #a37f55;
    @extend %white-clr;
  }
}

/*------------------------btn-grey-------------------------*/

.btn-grey {
  @extend %grey-lgt-bg;

  span {
    @extend %dark-clr;

    &:after {
      color: $grey-blue;
    }
  }

  &:hover {
    background: darken($grey-lgt, 5%);
    @extend %dark-clr;
  }
}

/*------------------------btn-accent-------------------------*/

.btn-accent {
  @extend %accent-bg;

  span {
    @extend %dark-clr;

    &:after {
      color: $white-clr;
    }
  }

  &:hover {
    background: darken($accent-clr, 15%);
    @extend %dark-clr;
  }
}

/*------------------------plan-select btn-------------------------*/
.plan-select a span {
  position: relative;

  &:after {
    content: attr(data-after);
    position: absolute;
    color: #3f3121;
    left: 0;
    transition: all 1s ease-in-out;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover:after {
    width: 100%;
  }
}

button {
  background: transparent;
}

/*------------------------tag btn-------------------------*/
.tag { 
  padding: .3rem 1.2rem;
  margin-right: 0.6rem;
  margin-bottom: .6rem;
  width: auto;
  display: inline-block;  
  transition: all 1s ease;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.14), 0 2px 3px 0 rgba(0,0,0,.12);
  @extend %grey-lgt-bg;

  span {
    position: relative;
    text-transform: capitalize !important;
    @extend %dark-clr;

    &:after {
      content: attr(data-after);
      position: absolute;
      color: #92724d !important;
      left: 0;
      top: -4px;
      transition: all 1s ease-in-out;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      z-index: 100;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &:hover{
    background: darken($grey-lgt, 3%);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.16), 0 3px 5px 0 rgba(0,0,0,.14);
  }
}

/*------------------------Start a Project------------------------*/
.btn-start-project {
  padding: 0.6rem 1.2rem;
  border: 2px solid #607d8b; 
  text-transform: uppercase;
  color: #ccc;
  position: relative;
  border: 0; 
  box-sizing: border-box;  
  box-shadow: inset 0 0 0 2px #ccc !important; 

  &::before, 
  &::after {  
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.animated{
    @extend %opacity-0;
  }

  i {
    margin-right: $element_offset / 6;  
    transition: color 0.4s ease .8s;
    @extend %main-clr;
  }
}

.draw { 
  transition: color 0.25s;

  &::before, 
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    @extend %main-clr;
  }

  &:hover > i {
    @extend %grey-lgt-clr;
  }

  &:hover::before, 
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $main-clr;
    border-right-color: $main-clr;
    -webkit-transition: width 0.15s ease-out, 
   height 0.15s ease-out 0.25s;
       -moz-transition: width 0.15s ease-out, 
   height 0.15s ease-out 0.25s;
         -o-transition: width 0.15s ease-out, 
   height 0.15s ease-out 0.25s;
            transition: width 0.15s ease-out, 
   height 0.15s ease-out 0.25s;
  }

  &:hover::after {
    border-bottom-color: #ae8c64;
    border-left-color: #ae8c64;
    -webkit-transition: border-color 0s ease-out 0.5s,
   width 0.15s ease-out 0.5s,
   height 0.15s ease-out 0.75s;
       -moz-transition: border-color 0s ease-out 0.5s,
   width 0.15s ease-out 0.5s,
   height 0.15s ease-out 0.75s;
         -o-transition: border-color 0s ease-out 0.5s,
   width 0.15s ease-out 0.5s,
   height 0.15s ease-out 0.75s;
            transition: border-color 0s ease-out 0.5s,
   width 0.15s ease-out 0.5s,
   height 0.15s ease-out 0.75s;
  }
}

/*------------------------Read More / Slogan-------------------------*/
.read-more,
.slogan {  
  display: flex;
  position: relative;
  width: 100%; 
  justify-content: flex-end;  
  align-items: flex-end;
  z-index: 10;

  span {
    position: relative;
    display: block;

    &:before {
      content: '';
      position: absolute;
      transform-origin: left center;
      transform: translateX(-130%);
      top: 0;
      bottom: 0;
      margin: auto;
      width:  $element_offset / 2;
      height: $hyphen;
      @extend %main-bg;
    }

    &:after {
      content: attr(data-after);
      position: absolute;
      color: darken( $main-clr, 15% );
      left: 0; 
      transition: all 0.5s ease-in-out;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

a.read-more:hover{
  color: $main-clr !important;
}

@media (max-width: 639px) {
  header .read-more, header
  .slogan {
    margin-bottom: $lh / 2;
  }
}

@media (max-width: 768px) {
  .slogan {
    justify-content: flex-start;
  }
}
.slogan {
  @extend %grey-blue-clr;
}
/*---------------------------btn plan----------------------------*/

.btn-plan {
  position: relative;

  &:after {
    content: attr(data-after);
    position: absolute;    
    left: 0;  
    transition: all 0.5s ease-in-out;
    transform-origin: left center;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #4f3e2a;
  }

  &:hover:after {
    width: 100%;
  }
}


