/*------------------------------------------------------------------------------------------------------------------
Clients
------------------------------------------------------------------------------------------------------------------*/
#clients {
  @extend %section_offset;

  .animated{
    @extend %opacity-0;
  }

  .client-wrap {
    @extend %transition-35;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &:hover h3 span {
      position: relative;
    }

    &:hover h3 span:before, 
    &:hover h3 span:after {
      content: '';
      position: absolute;
      top: -.7rem;
      transition: all 10s ease;
      @extend %main-bg;  
    }

    &:hover h3 span:before {
      left: -.7rem;
      height: .1rem;
      width: 2rem;
    }

    &:hover h3 span:after {
      left: -.7rem;
      width: .1rem;
      height: 2rem;
    }
  }

}

.clients-carousel .owl-item:nth-child(odd) > .client-wrap {
  @extend %dark-bg;
}

.clients-carousel .owl-item:nth-child(odd) > .client-wrap:hover {
  background: lighten($dark-clr, 10%) !important;
}

.clients-carousel .owl-item:nth-child(odd) > .client-wrap h3 {
  @extend %white-clr;
}

.client {
  position: relative;
  display: inline-block;
  margin: 2 * $baseline 0px;
  width: 100%;
  text-align: center;
  box-sizing: content-box;

  h3 {
    text-transform: uppercase;
    padding: 0;
    text-align: center;
  }

  p {
    margin: 0;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    @extend %main-clr;

    &:before, 
    &:after {
      position: absolute;
      height: $hyphen;
      content: '';
      width: 3rem;
      top: 50%;
      transform: translateY(-50%);
      background: lighten($grey-blue, 40%);
    }

    &:before {
      left: -3.5rem;
    }

    &:after {
      right: -3.5rem;
    }
  }
}

@media (max-width: 1680px) {
  .client {
    margin: 2.5 * $baseline 0px;
  }
}

@media (max-width: 544px) {
  .client {
    max-width: 100%;
  }
}
