/*------------------------------------------------------------------------------------------------------------------
About Section for Home Page
------------------------------------------------------------------------------------------------------------------*/
#home-about {
  // padding-left: .6rem;
  @extend %section_offset;

  .col-text{
    width: 60%;
    padding-right: $baseline;
  }  
  .col-stat{
    width: 40%;
  }

  @media(max-width: 1023px){
    .col-text{
      width: 100%;
      padding-right: 0;
    }  
    .col-stat{
      width: 100%;
    }
  }
}

#home-about .about-text {
  padding-right: 3rem;
}

@media (max-width: 991px) {
  #home-about .about-text {
    padding-right: 0;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  #home-about .about-text {
    padding-right: 3rem;
  }
}

#home-about .statistics { 
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  #home-about .statistics {
    position: sticky;
    top: 2 * $baseline;
  }
}

@media (max-width: 991px) {
  #home-about .statistics {
    margin-top: 3 * $baseline;
  }
}

#home-about .statistics .stat { 
  width: calc(50% - #{$baseline} / 6);
  text-align: center;
  padding-top: 2 * $baseline;
  padding-bottom: 2 * $baseline;
  margin-bottom: $baseline / 3;
  margin-left: $baseline / 3;
  @extend %dark-bg;
}

#home-about .statistics .stat:nth-child(2), #home-about .statistics .stat:nth-child(3) {  
  @extend %main-bg;
}

#home-about .statistics .stat:nth-child(3), #home-about .statistics .stat:nth-child(4) {
  margin-bottom: 0;
}

#home-about .statistics .stat:nth-child(1), #home-about .statistics .stat:nth-child(3) {
  margin-left: 0 !important;
}

@media (max-width: 479px) {
  #home-about .statistics .stat {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: $baseline !important;
    background: $dark-clr;
  }
  #home-about .statistics .stat:nth-child(odd) {
    background: $main-clr;
  }
  #home-about .statistics .stat:nth-child(even) {
    background: $dark-clr;
  }
  #home-about .statistics .stat:nth-child(1), #home-about .statistics .stat:nth-child(3) {
    margin-left: 0;
    width: 50%;
  }
  #home-about .statistics .stat:nth-child(3), #home-about .statistics .stat:nth-child(4) {
    margin-bottom: 0;
  }
}

#home-about .statistics .stat .number {
  @extend %white-clr;
}

#home-about .statistics .stat .text {
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
  margin-top: 0;
  @extend %white-clr;
}

@media (max-width: 1199px) {
  #home-about {
    padding-left: 0;
  }
  #home-about div[class^='col-'] {
    padding: 0;
  }
}
