/*------------------------------------------------------------------------------------------------------------------
Portfolio hover effects
------------------------------------------------------------------------------------------------------------------*/
/*--------------------Hover-1-----------------*/
.hover-effect-1 .gallery-item,
.hover-effect-1 .grid-with-gutters .gallery-item a {
  width: 100%; 
  transform: translateX(0);
  opacity: 1;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: left;
  @extend %white-clr;
}

.hover-effect-1 .gallery-item *,
.hover-effect-1 .grid-with-gutters .gallery-item a * {
  box-sizing: border-box;
  transition: all 0.25s ease;
}

.hover-effect-1 .gallery-item .gallery-caption,
.hover-effect-1 .grid-with-gutters .gallery-item a .gallery-caption {
  content: '';
  position: absolute;
  bottom: 0.6rem;
  left: 0.6rem;
  right: 0.6rem;
  top: 100%;
  max-width: 100%;   
  flex-direction: column;
  background-color: rgba(51, 51, 51, 0.8);
  transition: all 0.25s ease 0.25s;
  z-index: 2;
  box-sizing: border-box;
  @include flex-center; 
}

.hover-effect-1 .gallery-item h2,
.hover-effect-1 .gallery-item p,
.hover-effect-1 .grid-with-gutters .gallery-item a h2,
.hover-effect-1 .grid-with-gutters .gallery-item a p {
  margin: 0;
  opacity: 0;
  z-index: 6;
  text-align: center;
  position: relative;
  display: block;
  z-index: 3;
}

.hover-effect-1 .gallery-item h2,
.hover-effect-1 .grid-with-gutters .gallery-item a h2 {
  transform: translateY(-100%);
  transition-delay: 0.05s;  
  @extend %white-clr
}

.hover-effect-1 .gallery-item p,
.hover-effect-1 .grid-with-gutters .gallery-item a p {
  padding: 0.25rem 0.75rem;
  transform: translateY(-100%);
  transition-delay: 0s;
  color: #fff !important;
  @extend %main-bg;
}

.hover-effect-1 .gallery-item:hover .gallery-caption,
.hover-effect-1 .gallery-item.hover .gallery-caption,
.hover-effect-1 .grid-with-gutters .gallery-item a:hover .gallery-caption,
.hover-effect-1 .grid-with-gutters .gallery-item a.hover .gallery-caption {
  top: 0.6rem;
  bottom: 0.6rem;
  transition-delay: 0s;
}

.hover-effect-1 .gallery-item:hover h2,
.hover-effect-1 .gallery-item.hover h2,
.hover-effect-1 .gallery-item:hover p,
.hover-effect-1 .gallery-item.hover p,
.hover-effect-1 .grid-with-gutters .gallery-item a:hover h2,
.hover-effect-1 .grid-with-gutters .gallery-item a.hover h2,
.hover-effect-1 .grid-with-gutters .gallery-item a:hover p,
.hover-effect-1 .grid-with-gutters .gallery-item a.hover p {  
  transform: translateY(0);
  opacity: 1;
}

.hover-effect-1 .gallery-item:hover h2,
.hover-effect-1 .gallery-item.hover h2,
.hover-effect-1 .grid-with-gutters .gallery-item a:hover h2,
.hover-effect-1 .grid-with-gutters .gallery-item a.hover h2 {
  transition-delay: 0.3s;
}

.hover-effect-1 .gallery-item:hover p,
.hover-effect-1 .gallery-item.hover p,
.hover-effect-1 .grid-with-gutters .gallery-item a:hover p,
.hover-effect-1 .grid-with-gutters .gallery-item a.hover p {
  transition-delay: 0.2s;
}

/*-------------------Hover-2------------------*/
.hover-effect-2 {
  /*for grid with gutters*/
}

.hover-effect-2 .gallery-item,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hover-effect-2 .gallery-item:after, .hover-effect-2 .gallery-item:before,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner:after,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner:before {
  content: '';
  position: absolute;
  transition: all 0.45s ease;
  z-index: 2;
  height: 0%;
  width: 0.6rem;
  z-index: 4;
  @extend %main-bg;
}
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner:after,
.hover-effect-2 .gallery-item:after {
  bottom: 0;
  right: 0;
}
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner:before,
.hover-effect-2 .gallery-item:before {
  top: 0;
  left: 0;
}

.hover-effect-2 .gallery-item *,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner * {  
  box-sizing: border-box;  
  transition: all 0.45s ease;
}

.hover-effect-2 .gallery-item img,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner img {
  vertical-align: top;
  max-width: 100%;
  opacity: 0;

  &.animated{
    opacity: .9;
  }
}

.hover-effect-2 .gallery-item .gallery-caption,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner .gallery-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;  
  flex-direction: column;
  transition-delay: 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 3;
  @include flex-center;
  @extend %opacity-0;
}

.hover-effect-2 .gallery-item:hover .gallery-caption,
.hover-effect-2 .gallery-item.hover .gallery-caption,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner:hover .gallery-caption,
.hover-effect-2 .grid-with-gutters .gallery-item.hover .gi-inner .gallery-caption { 
  opacity: 1;
}

.hover-effect-2 .gallery-item h2,
.hover-effect-2 .gallery-item p,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner h2,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner p {
  position: relative;
  z-index: 6;
  @extend %opacity-0;
}

.hover-effect-2 .gallery-item h2,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner h2 {
  transform: translateY(-50%);
  margin-bottom: 0.6rem !important;
  @extend %white-clr;
}

.hover-effect-2 .gallery-item p{
  @extend %grey-lgt-clr;
}

.hover-effect-1 .gallery-item:hover .gallery-caption,
.hover-effect-1 .gallery-item.hover .gallery-caption,
.hover-effect-1 .grid-with-gutters .gallery-item a:hover .gallery-caption,
.hover-effect-1 .grid-with-gutters  .gallery-item.hover a .gallery-caption {
  top: 0.6rem;
  bottom: 0.6rem;
  transition-delay: 0s;
}

.hover-effect-2 .gallery-item:hover h2,
.hover-effect-2 .gallery-item.hover h2,
.hover-effect-2 .gallery-item:hover p,
.hover-effect-2 .gallery-item.hover p,
.hover-effect-2 .grid-with-gutters .gallery-item a:hover h2,
.hover-effect2 .grid-with-gutters .gallery-item.hover a h2,
.hover-effect-2 .grid-with-gutters .gallery-item a:hover p,
.hover-effect-2 .grid-with-gutters .gallery-item.hover a p {  
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.hover-effect-2 .gallery-item:hover h2,
.hover-effect-2 .gallery-item.hover h2,
.hover-effect-2 .grid-with-gutters .gallery-item a:hover h2,
.hover-effect-2 .grid-with-gutters .gallery-item.hover a h2 {
  transition-delay: 0.3s;
}

.hover-effect-2 .gallery-item:hover p,
.hover-effect-2 .gallery-item.hover p,
.hover-effect-2 .grid-with-gutters .gallery-item a:hover p,
.hover-effect-2 .grid-with-gutters .gallery-item.hover a p {
  transition-delay: 0.2s;
}


@media (max-width: 1680px) {
  .hover-effect-2 .gallery-item h2,
  .hover-effect-2 .grid-with-gutters .gallery-item .gi-inner h2 {
    max-width: 80%;
  }
}

.hover-effect-2 .gallery-item p,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner p {
  display: inline-block;
  margin-bottom: 0;
}

.hover-effect-2 .gallery-item .gallery-tags,
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner .gallery-tags {
  padding: 0 !important;
}

.hover-effect-2 .gallery-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.hover-effect-2 .gallery-item:hover:after, 
.hover-effect-2 .gallery-item:hover:before, 
.hover-effect-2 .gallery-item.hover:before, 
.hover-effect-2 .gallery-item.hover:after {
  height: 100% !important;
}

.hover-effect-2 .grid-with-gutters .gallery-item:hover:after,
.hover-effect-2 .grid-with-gutters .gallery-item:hover:before, 
.hover-effect-2 .grid-with-gutters .gallery-item.hover:before, 
.hover-effect-2 .grid-with-gutters .gallery-item.hover:after {
  height: 0 !important;
}

.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner:hover:after, 
.hover-effect-2 .grid-with-gutters .gallery-item .gi-inner:hover:before, 
.hover-effect-2 .grid-with-gutters .gallery-item.hover .gi-inner:before, 
.hover-effect-2 .grid-with-gutters .gallery-item.hover .gi-inner:after {
  height: 100% !important;
}

#gal-masonry-2 .gallery-item:hover > img {
  opacity: 0.1 !important;
}

/*----------------------Hover Plus-------------------------*/
.plus {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  color: #000;
  text-align: left;
  background: #fff;
}

.plus *,
.plus:before,
.plus:after
 {
  animation-delay: 0 !important;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.plus img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  animation-name: none;
  animation-delay: 0s !important;
  animation-duration: .4s;
  animation-timing-function: ease;
}

.plus:before,
.plus:after {
  content: '';
  background-color: #000;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @extend %opacity-0;
}

.plus:before {
  width: 300px;
  height: 2px;
}

.plus:after {
  height: 300px;
  width: 2px;
}

.plus figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
}

.plus h3 {
  padding: 0.5rem 1rem;
  margin: 0;
  opacity: 0;
  transform: translateY(100%);
}

.plus a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.plus:hover{
  background: #fff;
}


.plus:hover img,
.plus.hover img {
  zoom: 1;
  // filter: alpha(opacity=30);
  // opacity: 0.3;
  animation-name: fadeOut30;  
}

.plus:hover:before,
.plus.hover:before,
.plus:hover:after,
.plus.hover:after {
  opacity: 1;
}

.plus:hover:before,
.plus.hover:before {
  width: 3rem;
}

.plus:hover:after,
.plus.hover:after {
  height: 3rem;
}

.plus:hover h3,
.plus.hover h3 {
  transform: translateY(0%);
  opacity: 1;
}

/*-----------------------------Hover Zoom-----------------------*/
.hover-zoom{
  figure{
    overflow: hidden;
    
    img{
      width: 100%;
      height: 100%;
      @include img-hover;
      @include object-fit;
    }
  }
  
}
/*----------------------------Hover with Round Label-----------------------*/
.hover-round-label{
  position: relative;
  overflow: hidden;
  display: block;

  &:after,
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:after{
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0;
    background: rgba(255,255,255, 0);
    z-index: 9;
    transition: all 0.5s ease;
  }

  &:before{
    width: 2 * $baseline;
    height: 2 * $baseline;  
    background: rgba(0,0,0, .2);
    z-index: 10;
    transform: translate(50%, 50%);
    border-radius: 50%;
    transition: all 0.75s ease;
  }

  &:hover:before, 
  &:hover:after{
    transform: none;
  }

  &:hover:before{
    width: 4 * $baseline;
    height: 4 * $baseline;
    transition: all 0.25s ease;
    background: rgba(0,0,0, .9);
    @extend %accent-bg;
    @include position-absolute;
    @include flex-center;
  }

  &:hover:after{
    border-radius: 0;
    background: rgba(255,255,255, .7);
  }
  
  .hrl-text{
    z-index: 11; 
    transition: opacity 0.25s ease;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    @include position-absolute;
    @include flex-center;
    @extend %font-08;
    @extend %lh-14;
    @extend %opacity-0;
    @extend %white-clr;
  }
  
  &:hover > .hrl-text{
    opacity: 1;
    transition: opacity 0.1s ease;
  }
}
