
.map-marker{
	z-index: 108;
	width: 25px !important;
	height: 25px !important;
}
.map-wrap{
	position: absolute;	
	height: 25px;
	width: 25px;
	transition: all 0.3s ease-in-out 0s;
	z-index: 0;

	&:before,
	&:after {
		content:"";
		position: absolute;
		top: -100%;
		left: -50%;
		height: 25px;
		width: 25px;
		z-index: 0;
		background-color: rgba(212, 225, 87, .3);
		border-radius: 50%;
		transition: all 0.3s ease-in-out 0s;
	}

	&:after {
		transition: all 0.3s ease-in-out 0.1s;
	}

	.map-marker:hover > &:before,
	.map-marker:focus > &:before {
		height: 65px !important;
		width: 65px !important;
	}

	.map-marker:hover > &:after,
	.map-marker:focus > &:after {
		height: 95px !important;
		width: 95px !important;
	}
}

// <script>
// 	$('img').closest('div').addClass('map-marker');
// 	$('.map-marker').wrap( "<div class='map-wrap'></div>" );
// </script>
