/*------------------------------------------------------------------------------------------------------------------
Filters for Portfolio Pages
------------------------------------------------------------------------------------------------------------------*/
#filters,
#owl-filters,
#featured-items-tab {
  display: flex;  
  justify-content: flex-end;
  margin-bottom: $element_offset - $lh / 2; // margin-bottom
  margin-top: 0; 
  flex-wrap: wrap;  
  transform: translateX(1rem);

  span {
    align-self: center;
    @extend %grey-blue-clr;

    &:after {
      height: $hyphen-lgt;
      top: 50%;
      transform: translateY(-50%);
      @extend %grey-blue-bg;
    }
  }

  button,
  .nav-item a{
    margin-right: 1rem;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: $hyphen-lgt;
      position: absolute;
      bottom: 0;
      width: 0;
      @extend %main-bg;
      @extend %transition-35;
    }

    &:hover,
    & a:hover {
      color: #c0a585;
    }

    &:hover:before {
      width: 100%;
      background: #c0a585;
    }
  }

  span,
  button{
    margin-bottom: .3rem;
  }

  .active,
   a.active {
    position: relative;
    @extend %main-clr;

    &:before {
      width: 100%;
      background: #92724d;
    }
  }
}


.header #filters,
.header #owl-filters {
  margin-bottom: 0 !important;
  width: 100%;
  align-self: flex-start;
}

@media (max-width: 1024px) {
  .header #filters,
  .header #owl-filters {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .about-media #filters,
  .about-media #owl-filters {
    transform: translateX(0);
  }
}
