/*------------------------------------------------------------------------------------------------------------------
Portfolio masonry
------------------------------------------------------------------------------------------------------------------*/
#gallery-masonry {
  @extend %element_offset;
}

@media (max-width: 767px) {
  #gallery-masonry {
    margin-bottom:  $element_offset / 2;
  }
}

@media (max-width: 575px) {
  #gallery-masonry {
    margin-bottom:  0;
  }
}

#gallery-masonry {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;

  $img: 9 * $lh * 16px;
  $img-size: decimal-round($img);

  .gallery-item {
    width: 33.3%;
    padding: 0px;
    position: relative;
    height: $img-size;

    &:nth-child(1), 
    &:nth-child(8), 
    &:nth-child(10n + 1), 
    &:nth-child(10n + 8) {
      height: 2 * $img-size;
    }

    img {
      height: 100%;
      width: 100%;
      @include object-fit;
      @extend %opacity-toggle;
    }

    .gallery-caption {
      position: absolute;
      text-align: center;
    }

    h2 {
      max-width: 80%;
      text-align: center;
    }
  }
}

@media (max-width: 1024px) {
  #gallery-masonry .gallery-item {
    width: 50%;
    height: 250px;
  }
  #gallery-masonry .gallery-item:nth-child(1), #gallery-masonry .gallery-item:nth-child(5), #gallery-masonry .gallery-item:nth-child(7), #gallery-masonry .gallery-item:nth-child(10n + 1), #gallery-masonry .gallery-item:nth-child(10n + 5) {
    height: 500px;
  }
  #gallery-masonry .gallery-item:nth-child(8) {
    height: 250px;
  }
  #gallery-masonry .gallery-item:nth-child(10) {
    display: none;
  }
}

@media (max-width: 767px) {
  #gallery-masonry .gallery-item {
    width: 100%;
    height: auto !important;
    margin-bottom:  $element_offset / 2;
  }
  #gallery-masonry .gallery-item:nth-child(10) {
    display: block;
  }
}
