/*------------------------------------------------------------------------------------------------------------------
Portfolio with Cards
------------------------------------------------------------------------------------------------------------------*/

.grid-with-cards {
  margin-bottom:  $element_offset / 2 !important;

  .gallery-item {
    @extend %element_offset_small;

    a:before {
      display: none !important;
    }

    .card {
      border-radius: 0 !important;
      display: flex;
      flex-direction: column;

      figure {
        content: '';
        display: block;
        width: 100%;
        padding-top: calc(100% / 1.4);
        @extend %white-bg;

        img {
          height: 100%;
        }
      }

      .gallery-caption {
        padding:  $element_offset / 2 1.5rem;

        h2,
        p {
          text-align: left;
        }

        h2 {
          width: 100%;
          max-width: 100%;

          a {
            @extend %dark-clr;
          }
        }

        p {
          @extend %main-clr;
        }
      }
    }
  }

  .btn-wrap-center {
    padding-top: 0px;
  }


  @media (max-width: 768px) {
    [class^=col-] {
      margin-bottom: $element_offset !important;
    }
  }
}




