/*------------------------------------------------------------------------------------------------------------------
Reviews Section for About Page
------------------------------------------------------------------------------------------------------------------*/
.about-reviews {
  background: 100% 100% fixed no-repeat;
  background-size: cover;
  @include shadow-tb;
  @extend %white-clr;
  @extend %section_offset;
  @extend %opacity-0;

  &.animated{
    @extend %animated-08s;
  }

  .reviews-carousel {
    position: relative;
    z-index: 5;
    padding-top: 9 * $baseline;
    padding-bottom: 9 * $baseline;

    .review {
      display: flex;
      margin: $baseline / 2;

      .review-author {
        width: 35%;
        padding: $baseline / 2;

        h3 {
          @extend %main-clr;
        }

        p {
          text-transform: capitalize;
          @extend %grey-lgt-clr;
        }

      }

      .review-text {
        width: 65%;
        padding: $baseline / 2;

        p {
          @extend %white-clr;
        }

        .hyphen-left:before {
          @extend %white-bg;
        }
      }

      .review-author,
      .review-text {
        position: relative;
        z-index: 3;
      }

      .corner-top-right:before, 
      .corner-top-right:after {
        @extend %grey-lgt-bg;
      }

      @media (max-width: 641px) { 
        flex-wrap: wrap;
      }
    }
  }

  .corner-top-right{
    &:after,
    &:before{
      background: $main-clr;
    }    
  }

  .owl-theme .owl-dots {
    position: absolute;
    right: $baseline / 2;
    bottom: $baseline;
    z-index: 5;

    .owl-dot {
      position: relative;
      z-index: 6;
    }
  }
}

@media (max-width: 1920px) {
  .about-reviews .reviews-carousel{
    padding-top: 6 * $baseline;
    padding-bottom: 6 * $baseline;
  }
}

@media (max-width: 767px) {
  .about-reviews .reviews-carousel{
    padding-top: 3 * $baseline;
    padding-bottom: 3 * $baseline;
  }
  .about-reviews .reviews-carousel .review .review-text .hyphen-left {
    padding-left: 0;
    margin-right: 0;
  }
  .about-reviews .reviews-carousel .review .review-text .hyphen-left:before {
    display: none;
  }
}

@media (max-width: 641px) {
  .about-reviews .reviews-carousel .review .review-author {
    margin-bottom: 0;
  }

  .about-reviews .reviews-carousel .review .review-author,
  .about-reviews .reviews-carousel .review .review-text {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .about-reviews .reviews-carousel .hyphen-left:before {
    display: none;
  }
}

.pos-rel {
  position: relative;

  h2 {
    position: absolute;
    bottom: 10%;
    color: rgba(0, 0, 0, 0.21);
    z-index: 2;
  }
}


