/*------------------------------------------------------------------------------------------------------------------
Reviews
------------------------------------------------------------------------------------------------------------------*/
#reviews {
  @extend %section_offset;

  .owl-theme .owl-dots{
    text-align: right;
  }

  .review-wrap {
    border: $hyphen-heavy solid $dark-clr;
    padding: 2 * $baseline 2.5 * $baseline $baseline;
  }

  .review-author {
    .review-img{
      width: 36px;
      height: 36px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }

    .client-position{
      position: relative;

      span{
        line-height: 36px;
        padding-left: 50px;
      }
    }
  }

  .review-text {
    color: #607d8b;
  }
}

@media (max-width: 769px) {
  #reviews .review-wrap .review-author {
    margin-bottom:  $element_offset / 2;
  }
}

@media (max-width: 480px) {
  #reviews .review-wrap {
    padding: 2.5rem 1.25rem;
  }
  #reviews .review-wrap .hyphen-left {
    padding-left: 0;
  }
  #reviews .review-wrap .hyphen-left:before {
    display: none;
  }
}

@media (max-width: 479px) {
  #reviews .review-wrap .review-author {
    background: none;
    margin-bottom: 1rem;
  }
}

