/*------------------------------------------------------------------------------------------------------------------
Services-1
------------------------------------------------------------------------------------------------------------------*/
#services {
  counter-reset: num;
  @extend %section_offset;

  p + .read-more {
    @extend %mb-1-2;
  }  

  .service {
    width: 100%;
    position: relative;
    overflow: hidden;
    @extend %element_offset;

    &:last-child {
      margin-bottom: 0;
    }

    .service-img {
      position: relative;
      width: 60%;
      height: 14 * $baseline;
    }

    .service-text-right,
    .service-text-left {
      position: absolute;
      top: $element_offset;
      bottom: $element_offset;
      padding:  $element_offset / 2;
      width: 50%;
      overflow: hidden;
      max-width: 100%;
      z-index: 11;
      @include flex-center;
      @extend %dark-bg;
      @extend %transition-35;

      .service-number {
        position: absolute;
        color: rgba(255, 255, 255, 0.1);
        z-index: 2;
        right: 0;
        top: 0;
        @extend %header-font;

        &:before {
          counter-increment: num;
          content: "0" counter(num);
        }
      }

      h3 {
        @extend %white-clr;
        @extend %mb-1-2;
      }

      p {
        margin: 0;
        @extend %grey-lgt-clr;
      }
    }

    .service-text-right > div,
    .service-text-left > div {
      position: relative;
      height: auto;
      animation-duration: .25s;

      p{
        display: block;
        max-height: 5 * 0.9 * 1.8 * 1rem; // 5 * font-size * line-height
        overflow: hidden;
      }
    }

    .service-text-right {
      right: 0;
    }

    .service-text-left {
      left: 0;
    }
  }

  .service-right .service-img {
    margin-left: 40%;
  }
}

#services + .footer-form {
  margin-top: 0 !important;
}


@media (max-width: 1024px) {
  #services .service{
    overflow: visible;
    margin-bottom: 5 * $baseline + $element_offset;

    &:last-child {
      margin-bottom: 5 * $baseline;
    }

  }
  #services .service .service-img {
    width: 100%;
    overflow: auto;
  }

  #services .service .service-text-right,
  #services .service .service-text-left {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: auto;
    bottom: 0;
    transform: translateY(50%);
  }

  #services .service-right .service-img {
    margin: 0;
  } 
}

@media (max-width: 767px) {
  #services .service .service-img {
    img {
      height: 100%;
      @include object-fit;
    }
  }
}





