/*------------------------------------------------------------------------------------------------------------------
Service Page
------------------------------------------------------------------------------------------------------------------*/
#service-page {
  @extend %section_offset;

  * {
    @extend %transition-35;
  }

  .article {
    padding-left: $element_offset * 2;

    .footer-row{
      @media(max-width: 767px){
        p:first-child{
          margin-bottom: $baseline;
        }
      }
    }

    h3 {
      @extend %mb-1-2;
    }

    h4 {
      margin-bottom: 0;
      small {
        display: inline-block;
        width: auto;
        @extend %main-clr;
      }
    }

    .service-description {
      @extend %element_offset;

      .text-block{
        p {
          margin-bottom: 0;
        }

        p + p {
          margin-top:  $element_offset / 4;
        }
      }
    }

    .service-img {
      overflow: hidden;
      position: relative;
      @extend %mb-lh;

      img {
        position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        height:100%;  
        @include img-hover;
        // @include object-fit;
      }
    }

    .call-to-action {
      background: #222 url(../images/slider/slide-9.jpg) 100% 100% fixed no-repeat;
      background-size: cover;
      @extend %element_offset;

      &-inner{
        padding: $element_offset  $element_offset / 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 3;
      }

      h4 {
        margin-bottom: 0;
        @extend %white-clr;
      }

      h4,
      .btn-start-project {
        z-index: 10;
        position: relative;
      }
    }
  }

  .aside {
    @extend %transition-35;

    .fixedsticky {
      position: sticky;  
      align-self: flex-start;
    }

    ul {
      list-style: none;
      margin-bottom: 0;
    }

    a {
      @extend %dark-clr;

      &:hover {
        @extend %main-clr;
      }

      &.active {
        @extend %main-clr;
      }
    }
  }
}

@media (max-width: 1200px) {
  #service-page .article {
    padding-left: $baseline * 2;
  }
}

@media (min-width: 1025px) {
  #service-page .article .service-img {
    height: $baseline * 10;
  }
  #service-page .article .service-img img {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  #service-page .article .service-img {
    height: 12 * $baseline;
  }
  #service-page .article .service-img img {
    height: 100%;
  }

  #service-page .article .call-to-action {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #service-page .article .call-to-action h4 {
    margin-bottom:  $element_offset / 4;
  }
}

@media (max-width: 1023px) {
  #service-page .article {
    padding: 0;
  }

  #service-page .aside-rtl {
    margin-bottom: $element_offset;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  #service-page .article .service-description .text-block:not(:last-child) {
    margin-bottom:  $element_offset / 2;
  }

  #service-page .aside ul li {
    padding-left: 0;
    padding-right: 0;
  }
  #service-page .aside h3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  #service-page .article .service-img {
    height: 9 * $baseline;
  }
  #service-page .article .service-img img {
    height: 100%;
  }
}

#steps {
  @extend %element_offset;
}
