/*------------------------------------------------------------------------------------------------------------------
Services v2
------------------------------------------------------------------------------------------------------------------*/
.services-2 header {
  padding: 0;
  @extend %element_offset;
}

@media (max-width: 479px) {
  .services-2 header {
    flex-wrap: wrap;
    flex-direction: column;
  }
}