$md_sb_height: calc( 100vh - #{$nav-height});
$lg_sb_height: calc(36 * #{$baseline} - #{$nav-height});
$sm_sb_height: calc(20 * #{$baseline} - #{$nav-height});
$xs_sb_height: calc(18 * #{$baseline} - #{$nav-height});
$sb_height: $lg_sb_height;

$s5-caption-width-md: 50%;
$s5-caption-width-lg: 40%;
$s5-width: $s5-caption-width-md;

#slider-5{
	width: 100%;

	.carousel-inner{
		width: 100%;
		height: $sb_height;
		max-height: calc(1050px - #{$nav-height});
		background: linear-gradient(to left, #f1f1f1, #e5ecf6) 100% no-repeat;
		background-size: contain;
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .15);

		@media(max-width: 1920px){
			$sb_height: $md_sb_height;
			height: $sb_height;
			max-height: 1050px;
		}

		@media(min-width: 1400px){

		}

		@media (max-width: 1024px){
			$sb_height: $sm_sb_height; 
			height: $sb_height;
		}

		@media (orientation: portrait) and (max-width: 575px){
			$sb_height: $xs_sb_height;
			height: $sb_height;
		}

		@media (orientation: portrait) and (max-width: 375px){
			$sb_height: $xs_sb_height;
			height: $xs_sb_height;
		}
	}
	
	.carousel-item{
		width: 100%;
		height: 100%;
		border-bottom: $baseline solid #ccc;

		.img-wrap{
			width: 100% - $s5-width;
			height: 100%;
			overflow: hidden;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;

			img{
				width: 100%;
				height: 100%;
				position: absolute;	
				top: 0;
				right: 0;
				@include object-fit;
			}

			.img{
				transform: translateY(-100%);
				animation: slideInDown 0.35s ease both;
			}

			.img-prev{
				transform: translateY(0);
				animation: imgPrevAnim 0.35s ease both;
			}

			&.height-full{
				.img{
					height: 100%;
				}
			}

			@media(min-width:1400px){
				$s5-width: $s5-caption-width-lg;
				width: $s5-width;
				width: 100% - $s5-width;
			}

			@media(max-width:1023px){
				width: 100%;
			}
		}
		
		.carousel-caption{
			width: $s5-width;
			height: 100%;
			left: 0;
			bottom: 0;
			text-align: left;
			padding-left: 3 * $baseline;
			padding-right: 2 * $baseline;
			padding-bottom: 3 * $baseline;
			display: flex;
			background: rgba(255,255,255, .8);
			align-items: center;

			&:before{
				content: '';
				width: 100%;
				height: $baseline;
				background: $main-clr;
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateY(100%);
			}

			.text-wrap{
				width: 80%;
				// padding-bottom: $baseline;
				opacity: 0;
				transform: translateY(100%);
				animation: fadeInUp .35s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

				@media(min-width: 2600px){
					width: 40%;
				}

				@media(min-width: 1921px){
					width: 50%;
				}
			}

			h5{
				font-size: 4rem;
				font-weight: 800;
				line-height: 1.25;
				@extend %mb-1-2;
			}

			p +.read-more {
				margin-top: $baseline / 2;
			}

			a{
				color: $main-clr;
			}

			p{
				@extend %grey-blue-clr;
			}

			@media (max-width: 1920px) and (min-width: 1200px) {
				h5 {
					font-size: calc(2.6rem + 16 * ((100vw - 1200px) / 720));
				}
			}

			@media(min-width:1400px){
				$s5-width: $s5-caption-width-lg;
				width: $s5-width;
			}

			@media(max-width:1199px){
				padding-left: 2 * $baseline;

				h5{
					font-size: 1.6rem;
				}
			}

			@media(max-width: 1023px){
				padding-left: $baseline;

				.text-wrap{
					width: 100%;
				}
			}

			@media(max-width:1023px){
				width: auto;
				max-width: 50%;
				height: auto;
				left: $baseline;
				bottom: $baseline;
				padding: $baseline;
				box-shadow: 0 -6px 10px -6px rgba(0, 0, 0, 0.35), 0 6px 10px -6px rgba(0, 0, 0, 0.35);

				&:before{
					display: none;
				}

				.text-wrap{
					transform: none;
					width: 100%;
					padding-bottom: 0;

					h5{
						font-size: 1.4rem;
					}
				}
			}

			@media(max-width: 575px ){
				width: calc(100% - 2 * baseline);
				max-width: 100%;
				

				.text-wrap{
					p{
						display: none;
					}
				}
			}
		}
	}

	/*----------------------------Slider Nav----------------------------*/

	.slider-nav-wrap{
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.slider-nav-wrap{
		width: 3 * $baseline;
		display: flex;
		flex-direction: row;

		.carousel-control-prev,
		.carousel-control-next{
			width: $baseline;
			height: 30px;
			position: static;
			opacity: .9;
			// background: #000;

			&-icon{
				width: 100%;
				height:100%;
				vertical-align: middle;
				line-height: 30px;
				text-transform: uppercase;
				color: $dark-clr;
				opacity: 1;

				&:before{
					font-size:.6rem;
					text-align: center;
				}
			}
		}

		.carousel-control-prev{
			margin-right: $baseline / 2 ;

			&-icon{
				&:before{
					content: 'Prev';
				}
			}
		}

		.carousel-control-next{
			&-icon{
				&:before{
					content: 'Next';
				}
			}
		}
	}

	.carousel-inner> .carousel-item.carousel-item-next img,
	.carousel-inner > .carousel-item.active.carousel-item-right img{ 
		transform: translate3d(0, 100%, 0); 
		top: 0;
	}
	.carousel-inner > .carousel-item.carousel-item-prev img,
	.carousel-inner > .carousel-item.active.carousel-item-left img{ 
		transform: translate3d(0,-100%, 0);
		top: 0;
	}
	.carousel-inner > .carousel-item.next.carousel-item-left img,
	.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right img,
	.carousel-inner > .carousel-item.active img{
		transform:translate3d(0,0,0);
		top:0;
	}

}

.slider-5-wrap{
	position: relative;	

	/*----------------------------Slider Indicators----------------------------*/
	.carousel-indicators {
		$left_offset: 3 * $baseline;
		width: calc(#{$s5-caption-width-md} - #{$left_offset});
		margin-right: $baseline;
		background: none;
		position: absolute;
		bottom: 2 * $baseline;
		left: 3 * $baseline;
		z-index: 15;
		display: flex;
		justify-content: flex-start;
		padding-left: 0;
		list-style: none;
		margin: 0;

		.carousel-item-indicator{
			margin-right: $baseline;

			.indicator-text{
				border-bottom: $hyphen solid $grey-lgt;
				position: relative;
				// overflow: hidden;

				&:before{
					content: '';
					width: 0;
					height: $hyphen;
					background: $main-clr;
					position: absolute;
					bottom: 0;
					left: 0;
					transform: translateY(50%);
					transition: width .35s linear;
				}

				&:hover:before{
					width: 100%;
				}

				h6{
					font-size: 0.7rem;
					line-height: 2.5;
				}
			}

			.indicator-num{
				line-height: 2.5;
				@extend %font-07;
			}
		}

		.active .indicator-text{
			border-bottom: $hyphen solid $main-clr;

			&:before{
				display: none;
			}

			h6{
				font-weight: 800;
			}
		}

		.active .indicator-num{
			color: $main-clr !important;

		}

		.active{
			background: transparent;
		}

		@media(min-width: 1400px){
			$s5-width: $s5-caption-width-lg;
			width: calc(#{$s5-width} - #{$left_offset});
		}

		@media(max-width:1199px){
			$s5-width: $s5-caption-width-md;
			$left_offset: 2 * $baseline;
			left: $left_offset;
			width: calc(#{$s5-width} - #{$left_offset});
		}

		@media(max-width:1023px){
			width: 100%;
			position: relative;
			bottom: auto;
			left: auto;
			margin-top: $baseline;
			justify-content: center;
		}

		@media(max-width: 375px){
			flex-direction: column;

			.carousel-item-indicator{
				margin-left: $baseline;
			}
		}
	}
}

