/*------------------------------------------------------------------------------------------------------------------
Slider v2
------------------------------------------------------------------------------------------------------------------*/
#slider-company{
	$md_sc_height: calc( 100vh - #{$nav-height});
	$lg_sc_height: calc(36 * #{$baseline} - #{$nav-height});
	$sm_sc_height: calc(22 * #{$baseline} - #{$nav-height});
	$xs_sc_height: calc(18 * #{$baseline} - #{$nav-height});
	$sc_height: $lg_sc_height;

	height: $sc_height;
	max-height: 1050px;
	width: 100% !important;	
	overflow: hidden;
	background: $grey-lgt;

	.carousel-caption-inner {
		padding: calc(#{$sc_height} / 3) 10% calc(#{$sc_height} / 10 + #{$baseline} * 1.5);
	}

	.carousel-caption .slider-h2 {
		top: calc(#{$sc_height} / 3);
	 }

	.small-img {
		height: calc(#{$sc_height} / 3);
	}

	.btn-slider,
	.slider-nav-wrap,
	.social{
		position: absolute;
		bottom: calc(#{$sc_height} / 10);
	}

	@media(max-width: 1920px){
		$sc_height: $md_sc_height;
		height: $sc_height;

		.carousel-caption-inner {
			padding: calc(#{$sc_height} / 3) 10% calc(#{$sc_height} / 10 + #{$baseline} * 1.5);
		}
		.carousel-caption .slider-h2 {
			top: calc(#{$sc_height} / 3);
		 }

		.small-img {
			height: calc(#{$sc_height} / 3);
		}

		.btn-slider,
		.slider-nav-wrap,
		.social{
			position: absolute;
			bottom: calc(#{$sc_height} / 10);
		}
	}

	@media screen and (orientation: portrait), (max-width: 1024px){
		$sc_height: $sm_sc_height; 
		height: $sc_height;

		.carousel-caption-inner {
			padding: calc(#{$sc_height} / 3) 10% calc(#{$sc_height} / 10 + #{$baseline} * 1.5);
		}

		.carousel-caption .slider-h2 {
			top: calc(#{$sc_height} / 3);
		}

		.small-img {
			display: none;
		}

		.btn-slider,
		.slider-nav-wrap,
		.social{
			position: absolute;
			bottom: calc(#{$sc_height} / 10);
		}
	}

	@media (orientation: portrait) and (max-width: 575px){
		$sc_height: $xs_sc_height;
		height: $sc_height;
		background: #fff;
		padding-bottom: 2 * $baseline;

		.small-img {
			display: none;
		}

		.slider-nav-wrap-bg{
			width: 100%;
			height: 2 * $baseline;
			background: $dark-clr;
		}
	}

	.carousel-inner,
	.carousel-item,
	.large-img,
	.carousel-caption{
		height: 100%;
	}

	.large-img { 
		width: 100% ;
		height: auto;
		max-height: 1050px;
		animation: fadeIn 2s ease forwards;
		filter: grayscale(20%);
		@include object-fit;

		@media(max-width: 1920px){
			width: 100%;
			height: 100%;
			@include object-fit;
		}
	}

	.carousel-caption {
		width: 50%;
		max-height: 1050px;
		position: absolute;
		top: 0;
		right: 0;
		left: 50%;
		bottom: 0;
		z-index: 10;
		margin: 0;
		padding: 0; 
		background: #000;
		transform-origin: right 100% !important;
		animation: width50 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.1s forwards;
		@extend %white-clr;

		@keyframes width50{
			0%{
				transform: scaleX(0);
			}
			100%{	
				transform: scaleX(1);
			}
		}

		.slider-h2 {
			left: 0;
			position: absolute;
			transform: translateX(-50%) translateY(-100%);
			width: 35%;	
			flex-grow: 0;

			&:before{
				background: $main-clr;
				animation-delay: .6s;
			}

			@media(max-width: 1920px){
				width: 80%;	
			}

			h2 {
				width: 100%;
				background: rgba(0, 0, 0, 0.2);
				// animation: scale-up-center .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) .2s both;;
				@extend %white-clr;
				@extend %opacity-0;
			}
		}

		p {
			text-align: left !important;
			animation: fadeIn 2s linear 0.5s forwards;
			@extend %grey-lgt-clr;
			@extend %opacity-0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.carousel-caption-inner {
		width: 100%;
		max-width: 100%;
		height: 100%;
		position: absolute;
		flex-direction: column;
		@include flex-center;

		.slider-text {
			width: 60%;
			max-height: 4 * 0.9 * 1.8rem;
			overflow: hidden;

			@media(max-width: 1920px){
				width: 100%;
			}
		}
	}

	.small-img {
		position: absolute;
		top: 0;
		right: 15%;
		transform-origin: 0 0;

		img {
			width: 15vw;
			height: 100%;
			@include object-fit;
			animation: fadeIn 1s ease-in 0.2s forwards;
			filter: grayscale(20%);
		}
	}

	.btn-slider {
		left: 0;
		margin: 0;
		transform: translateX(-50%) translateY(0);

		& .btn {
			margin: 0;
			animation: scale-up-center .35s cubic-bezier(0.390, 0.575, 0.565, 1.000) .35s both;
			@extend %opacity-0;

			@media (max-width: 1200px){
				padding: .6rem 1.2rem !important;
			}
		}
	}

	.slider-nav-wrap {
		right: 6rem;
		width: 2rem;
		height: $baseline;

		.num {
			height: $baseline;
			vertical-align: middle;
			text-align: center;
			@extend %main-clr;
		}

		@media(max-width: 575px){
			width: 4rem;
		}
	}

	.carousel-control-next,
	.carousel-control-prev {
		width: 2.4em;
		height: $baseline;
		position: absolute;
		background-image: none;
		@extend %transition-35;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: $baseline;
				height: $hyphen;
				@extend %main-bg;
				@extend %transition-35;
			}

			@media (max-width: 1679px){
		        padding: .6rem 1.2rem !important;
		    }
	}

	.carousel-control-next {
		right: -2.4rem !important;
	}

	.carousel-control-next:before {
		right: 0;
	}

	.carousel-control-prev {
		left: -2.4rem !important;
	}

	.carousel-control-prev:before {
		left: 0;
	}

	.social {
		left: $element_offset;
		@include social;
	}

	@media (max-width: 1024px) {
		.carousel-caption {
			display: flex;
			flex-direction: column;
		}
		.carousel-caption .slider-h2 {
			width: 100%;
			bottom: auto;
			transform: translateX(-50%) translateY(-100%);
		}
		
		.carousel-caption .btn-slider {
			transform: translateX(-50%) translateY(0);
		}
	}

	@media (max-width: 767px) {
		.carousel-caption .slider-h2 {
			width: 100%;
		}
		.social {
			left:  $element_offset / 2;
		}
		.slider-nav-wrap {
			right: 5rem;
		}
	}

	@media (max-width: 575px) {
		.carousel-caption {
			width: 100%;
			left: 0;
			background: transparent;
			max-width: 100%;
			flex-direction: column;
			@include flex-center;
		}

		.carousel-caption-inner {
			padding: 0;
			position: relative;
			width: auto;
			height: auto;
		}

		.slider-text,
		.social {
			display: none;
		}

		.carousel-caption .slider-h2,
		.carousel-caption .btn-slider {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			transform: none;
		}

		.carousel-caption .slider-h2 {
			width: 80vw;
			transform: none;
			margin-bottom:  $element_offset / 2;
		}

		.slider-nav-wrap {
			left: 0;
			right: 0;
			margin: auto;
			background: transparent;
			bottom: .9rem;
		}

		.carousel-control-next,
		.carousel-control-prev {
			background: transparent;
			opacity: 1;
		}

		.carousel-control-next:before {
			margin-right: $baseline / 2;
		}

		.carousel-control-prev:before {
			margin-left: $baseline / 2;
		}
	}

	@media (max-width: 360px) {
		.carousel-caption .slider-h2 {
			margin-bottom:  $element_offset / 4;
		}
	}

	.active .slider-h2 h2{
		opacity: 0;
		animation: fadeIn 0.1s 1s ease forwards;
		z-index: 1;
		height: 100%;
		width: 100%;
	}
}

#slider-company .carousel .carousel-control-prev-icon,
#slider-company .carousel .carousel-control-next-icon {
	background-image: none !important;
}

#slider-company .corner-bottom-right:before, #slider-company .corner-bottom-right:after {
	@extend %grey-lgt-bg;
}

@supports (-ms-ime-align: auto) {
	#slider-company h2,
	#slider-company p,
	#slider-company .btn-slider {
		opacity: 1;
	}
}

@supports (-webkit-appearance: none) {
	#slider-company h2,
	#slider-company p,
	#slider-company .btn-slider {
		opacity: 1;
	}
}
