/*------------------------------------------------------------------------------------------------------------------
Typography
------------------------------------------------------------------------------------------------------------------*/

$header-font: ('Montserrat', 'Arial', sans-serif);
$text-font: ('Montserrat', 'Arial', sans-serif); //('Roboto', 'Helvetica', sans-serif);

%mb-lh {
	margin-bottom: $baseline;
}
%mb-1-2 {
	margin-bottom: $baseline / 2 !important;
}
%mb-1-3 {
	margin-bottom: $baseline / 3 !important;
}
%header-font {
	font-family: $header-font;
}
%text-font {
	font-family: $text-font;
}
%lh-18 {
	line-height: 1.8;
}
%lh-16 {
	line-height: 1.6 !important;
}
%lh-14 {
	line-height: 1.4 !important;
}
%lh-1 {
	line-height: 1 !important;
}
%letter-spacing-1 {
	letter-spacing: 1px;
}
%font-07 {
	font-size: .7rem !important; // line-height: 2.57;
}
%font-08 {
	font-size: .8rem !important; // line-height: 2.25;
}
%font-09 {
	font-size: .9rem !important; // line-height: 2;
}
%font-1 {
	font-size: 1rem !important; // line-height: 1.8;
}

@mixin img-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
}
html, body {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	@extend %lh-18;
	@extend %dark-clr;
}
@media (max-width: 1024px) and (min-width: 769px) {
  html {
	font-size: calc(14px + 2*((100vw - 769px) / 255));
  }
}
@media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  html {
	font-size: 14px;
  }
}
@media (min-width: 1025px) {
  html {
	font-size: calc(14px + 2*((100vw - 1025px) / 335));
  }
}
@media (min-width: 1360px){
  html {
	font-size: 16px; 
  }
}
@media (max-width: 380px) {
	html {
		font-size: 14px;
	}
}

body {
	text-align: left;
	@extend %text-font;
}

a {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	@extend %main-clr;
	@extend %transition-35;

	&:hover {
		text-decoration: none;
		color: darken($accent-clr, 30%);
	}
}

/*------------------headers---------------------*/
h1, h2, h3, h4, h5, h6 {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 0;
	@extend %dark-clr;
	@extend %header-font;
	@extend %letter-spacing-1;
}

h1 {
	font-size: 2rem;
	font-weight: 800;
	vertical-align: text-top;
	margin-bottom: 0 !important;
	@extend %lh-14;
}

@media (max-width: 1024px) {
	h1 {
		font-size: 1.8rem;
	}
}
@media (max-width: 767px) {
	h1 {
		font-size: 1.6rem;
	}
}
@media (max-width: 480px) {
	h1 {
		font-size: 1.4rem;
	}
}
h2 {
	font-size: 1.8rem;
	font-weight: 800;
	line-height: 1;
	width: 100%;

	@media (max-width: 1024px) {
		font-size: 1.5rem;
	}
	@media (max-width: 575px) {
		font-size: 1.3rem;
	}
}

h2 small {
	font-size: 60%;
	text-transform: capitalize;
	font-weight: 400;
	@extend %main-clr;
}

h3 {
	font-size: 1.3rem;
	font-weight: 800;
	line-height: 1.385;

	@media (max-width: 1024px) {
		font-size: 1.1rem;
	}

	@media (max-width: 575px) {
		font-size: 1rem;
	}
}

h4, .h4 {
	font-size: 1.1rem;
	font-weight: 800;
	line-height: 1.5;

	@media (max-width: 1024px) {
		font-size: 0.9rem;
	}
	
	@media (max-width: 575px) {
		font-size: 0.7rem;
	}
}
h4 small, .h4 small {
	font-size: 60%;
}

h5 {
	font-size: 1rem;
	line-height: 1.73;

	@media (max-width: 1024px) {
		font-size: 0.8rem;
	}
	
	@media (max-width: 575px) {
		font-size: 0.6rem;
	}
}
h6 {
	font-size: 0.8rem;
	line-height: 1.8;

	@media (max-width: 1024px) {
		font-size: 0.6rem;
	}
	
	@media (max-width: 575px) {
		font-size: 0.4rem;
	}
}
p, blockquote, dl, dt, figcaption, li, textarea, .lead, .post p {
	word-break: break-word;
}
//p for sort text and descriptions
p {
	word-spacing: .3rem;
	@extend %font-09;
	@extend %text-font;
	@extend %dark-clr;
	@extend %mb-lh;
	&:last-of-type {
		margin-bottom: 0;
	}
}
//p for articles
article p {
	word-spacing: .3rem;
	font-weight: 400;
	@extend %font-1;
	@extend %text-font;
	@extend %mb-lh;
	@extend %dark-clr;
	&:last-of-type {
		margin-bottom: 0;
	}
}

@media(max-width: 575px){
	p,
	article p{
		font-size: .9rem !important;
	}
}
.recent-news p, .about-author p, .categories a, .categories span {
	font-weight: 300;
	@extend %font-09;
	@extend %grey-blue-clr;
	@extend %lh-16;
}

p + .read-more {
	line-height: 1 !important;
	margin-top: $baseline;
}

.lead, 
p.lead:last-of-type {
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	font-weight: 800 !important;
	@extend %mb-lh;
	@extend %dark-clr;
}

.lead-small {
	@extend .lead;
	font-size: 1.2rem !important;
	line-height: 1.5 !important;
	@extend %mb-lh;
}

@media(max-width: 575px){
	.lead,
	.lead-small{
		font-size: 1rem !important;
		line-height: 1.5 !important;
	}
}

.blockquote {
	margin: $baseline 0;
	padding: 0 $baseline / 2;
	border-left: 0.5rem solid $main-clr;

	.ltv-blockquote-footer {
		width: 100%;
		text-align: right;
		font-weight: 700;
		@extend %font-09;
		@extend %main-clr;

		.hyphen-left{
			&:before{
				@extend %main-bg;
			}
		}
	}

	p {
		font-size: 1.2rem;
		line-height: 1.5;
		font-weight: 800;
		margin-bottom: 0;
		padding-left: $baseline;
		padding-top: $baseline / 2;
		padding-bottom: $baseline / 2;
		@extend %grey-blue-clr;
	}

	.ltv-blockquote-footer,
	p{
		max-width: 680px;
	}
}

.blockquote p + p {
	margin-bottom: $element_offset / 4;
}

.blog-single-content p {
	font-size: 1.1rem;
	line-height: 1.73;
}

hr {
	margin-top: $baseline;
	margin-bottom: $baseline;
}

figure {
	margin: 0;
	padding: 0;
	img {
		@include img-shadow;
	}
	figcaption {
		font-weight: 300;
		@extend %font-08;
		@extend %grey-md-clr;
	}
}

::-moz-selection {
	background: $dark-clr;
}
::selection {
	background: $accent-clr;
	color: $dark-clr;
}

mark{
	background: #e6ffff;
}

.b {
	font-weight: 800;
}
.underlined {
	text-decoration: underline;
}
/*-------------------------------Post------------------------------*/

.post h2 {
	font-size: 1.1rem;
}
.post p {
	@extend %font-09;
	@extend %lh-18;
}

.post .post-meta {
	font-size: 0.7rem !important;
}

.post p {
	& +.read-more {
		line-height: 1 !important;
		margin-top: $baseline / 2;
	}
}

@media (max-width: 1024px) {
	.post .post-meta {
		font-size: .9rem;
	}
}

/*-----------------------------Clients-----------------------------*/

.client h3 {
	font-weight: 800;
	@extend %lh-1;
	@extend %header-font;
}
@media (max-width: 768px) {
	.client h3 {
		font-size: 1.2rem;
	}
}
.client p {
	@extend %font-08;
	@extend %lh-1;
}
@media (max-width: 768px) {
	.client p {
		font-size: .7rem;
		line-height: .7rem;
	}
}
/*----------------------------Service Page-------------------------*/

#service-page .article h3 {
	font-weight: 800;
	font-size: 1.2rem;
}
#service-page .article h4 {
	font-weight: 400;
	text-transform: capitalize;
	@extend %letter-spacing-1;
	@extend %lh-1;
}
#service-page .article h4 small {
	margin-bottom: $baseline / 3;
	@extend %font-08;
}
#service-page .call-to-action h4 {
	font-weight: 800;
	@extend %lh-16;
	@extend %letter-spacing-1;

	@media(max-width: 575px){
		font-size: .9rem  !important;
	}
}

#service-page .call-to-action .btn-start-project{
	@extend %font-08;
}

/*------------------------.galleri-item----------------------------*/

.gallery-item {
	h2 {
		line-height: 1.6 !important;
	}
	p {
		font-weight: 300 !important;
	}
}
/*------------------------------Grid-------------------------------*/

.grid .gallery-item h2 {
	margin-bottom: $baseline / 6 !important;
	@extend %font-09;
}
.grid .gallery-item p {
	@extend %font-09;
}
.hover-effect-1 .gallery-item p {
	font-size: .8rem !important;
}
@media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.grid .gallery-item h2, .grid .gallery-item p {
		font-size: .8rem;
	}
	.hover-effect-1 .gallery-item p {
		font-size: .7rem;
	}
}
@media (max-width: 1023px) {
	.grid .gallery-item h2, .grid .gallery-item p {
		font-size: .8rem;
	}
	.hover-effect-1 .gallery-item p {
		font-size: .7rem;
	}
}
@media (max-width: 767px) {
	.grid .gallery-item h2, .grid .gallery-item p {
		font-size: .9rem;
	}
	.hover-effect-1 .gallery-item p {
		font-size: .8rem;
	}
}
@media (max-width: 375px) {
	.grid .gallery-item h2, 
	.grid .gallery-item p {
		font-size: .7rem;
	}
	.hover-effect-1 .gallery-item p {
		font-size: .65rem;
	}
}

/*----------------------Grid with Gutters--------------------------*/
.grid-with-gutters {
	@media(min-width: 768px){
		.gallery-item h2 {
			font-size: .8rem !important; 
		}
		.gallery-item p {
			font-size: .8rem !important;
		}
	}
   
}
/*------------------------Grid with Cards--------------------------*/

.grid-with-cards .gallery-item h2 {
	font-weight: 800;
	line-height: 1.3 !important;
	margin-bottom: $baseline / 6 !important;
	@extend %font-09;
}
@media (max-width: 768px) {
	.grid-with-cards .gallery-item .gallery-caption p {
		font-size: .9rem;
	}
}
@media (max-width: 375px) {
	.grid-with-cards .gallery-item h2, .grid-with-cards .gallery-item p {
		font-size: .8rem;
	}
}
/*------------------------Gallery Masonry--------------------------*/

#gallery-masonry .gallery-item h2 {
	margin-bottom: $baseline / 6;
	@extend %font-08;
	@extend %lh-18;
}
#gallery-masonry .gallery-item p {
	text-transform: capitalize;
	@extend %font-08;
}

@media (max-width: 375px) {
	#gallery-masonry .gallery-item h2,
	#gallery-masonry .gallery-item p  {
		font-size: 0.7rem !important;
	}
}

/*-----------------------Gallery Horizontal------------------------*/

.horizontal-wrap .breadcrumbs {
	font-size: calc(0.75rem + 0.1vw);
	@extend %header-font;
	@extend %lh-1;
}
.horizontal-wrap .breadcrumbs ul li {
	@extend %font-08;
	@extend %header-font;
}
#gallery-horizontal .gallery-caption h2 {
	text-transform: uppercase; // font-size: calc(.9rem + 0.2vw);
	font-size: .9rem;
	line-height: 1.6rem !important;
}
#gallery-horizontal .gallery-caption .gallery-tags {
	font-size: calc(.9rem + 0.2vw);
}
@media (max-width: 767px) {
	#gallery-horizontal .gallery-caption h2 {
		font-size: calc(0.9rem + 0.2vw);
	}
	#gallery-horizontal .gallery-caption p {
		font-size: calc(0.9rem + 0.2vw);
	}
}
@media (max-width: 479px) {
	#gallery-horizontal .gallery-caption h2 {
		font-size: 0.7rem !important;
	}
	#gallery-horizontal .gallery-caption p {
		font-size: 0.7rem !important;
	}
}
#gallery-horizontal .filters .filter-btn {
	text-transform: uppercase;
	font-weight: 700;
	@extend %header-font;
	@extend %font-08;
}
#gallery-horizontal .filters .filters-list {
	@extend %font-08;
}
#gallery-horizontal .owl-dot {
	@extend %font-09;
}
#gallery-horizontal .counter .current-item, #gallery-horizontal .counter .count {
	@extend %header-font;
	@extend %font-09;
}
/*------------------------Portfolio Default------------------------*/

.portfolio-default .gallery-item .work-example .description-wrap h2 {
	font-size: 1.3rem;
	margin-bottom: 0 !important;
	@extend %lh-16;
}
.portfolio-default .gallery-item .work-example .description-wrap ul {
	@extend %font-1;
}
.portfolio-default .gallery-item .work-example .description-wrap .text p {
	@extend %font-09;
}
@media (max-width: 1024px) and (min-width: 769px) {
	.portfolio-default .gallery-item .work-example .description-wrap h2 {
		font-size: 1.3rem;
	}
}
@media (max-width: 768px) {
	.portfolio-default .gallery-item .work-example .description-wrap h2 {
		font-size: 1.4rem;
	}
}
@media (max-width: 768px) {
	.portfolio-default .gallery-item .work-example .description-wrap h2 {
		font-size: 1.2rem;
	}
}
@media (max-width: 479px) {
	.portfolio-default .gallery-item .work-example .description-wrap h2 {
		font-size: 1rem;
	}
}
/*------------------------Gallery Single---------------------------*/

#gallery-single .gs-text {
	@extend %font-09;
}
#gallery-single .gs-text h2 {
	font-size: 1.3rem;
	font-weight: 800;
	@extend %lh-16;
}
#gallery-single-4 .gs-descritpion {
	p {
		font-weight: 400;
		font-size: 1rem !important;
	}
}
/*-------------------------Related Posts---------------------------*/

.related-posts h5 {
	font-weight: 700;
	margin-bottom: 0 !important;
}
.related-posts .rel-post h5 {
	font-weight: 800;
	font-size: 0.7rem !important;
}
.related-posts .rel-post .rp-meta {
	font-size: 0.7rem !important;
}
/*----------------------------Reviews------------------------------*/

#reviews .review-wrap .review-author h3 {
	@extend %mb-1-2;
}
@media (max-width: 769px) {
	#reviews .review-wrap .review-author h4 {
		font-size: 1.2rem;
	}
}
/*----------------------------Scroller-----------------------------*/

.scroller-up-down {
	font-family: $text-font !important;
	@extend %font-08;
	@extend %lh-1;
}
/*-----------------------------Services----------------------------*/

#services .service .service-text-right .service-number, #services .service .service-text-left .service-number {
	font-style: italic;
	font-weight: 800;
	text-transform: uppercase;
	font-size: $section_offset;
	@extend %header-font;
	@extend %lh-1;
}
#services .service .service-text-right p, #services .service .service-text-left p {
	@extend %font-09;
}
/*--------------------------Blog Slider----------------------------*/

#blog-slider .slider-post-title {
	@extend %font-08;
}
#blog-slider .slider-post-date {
	@extend %font-08;
}
#blog-slider .carousel-inner .carousel-item .top-post h3 {
	font-weight: 800;
}
#blog-slider .carousel-inner .carousel-item .top-post p {
	@extend %font-09;
	@extend %lh-16;
}
@media (max-width: 479px) {
	#blog-slider .carousel-inner .carousel-item .top-post .read-more span {
		font-size: 0.75rem;
	}
}
#blog-slider .slider-nav-wrap .num {
	font-weight: 700;
	letter-spacing: 2px;
	@extend %font-08;
}
#blog-slider .carousel-control-next, #blog-slider .carousel-control-prev {
	@extend %font-08;
}
/*--------------------------Slider Company-------------------------*/

#slider-company .carousel-caption .slider-h2 h2 {
	font-weight: 800; ;
	letter-spacing: 2px;
	line-height: 1.286;
}
#slider-company .slider-text p {
	font-weight: 300;
	line-height: $lh;
}

#slider-company .social{
	font-size: calc(.9rem + .2vw) !important;
}

#slider-company .slider-nav-wrap .num,
#slider-5 .slider-nav-wrap .num {
	line-height: $baseline;
	font-weight: 800;
	font-size: calc(.8rem + .2vw) !important;
}
#slider-company .btn-slider {
	@extend %letter-spacing-1;
}

@media(max-width: 575px){
	#slider-company .slider-nav-wrap {
		font-size: .7rem !important;
	}
}

@media (max-width: 480px) {
	#slider-company .share {
		display: none;
	}
	
	#slider-company .carousel-control-prev {
		border-left: 0 $element_offset / 6 solid $dark-clr;
	}
	#slider-company .carousel-control-next {
		border-right: 0 $element_offset / 6 solid $dark-clr;
	}
}
/*------------------------------Slider-----------------------------*/

#slider .slider-social ul {
	@extend %font-09;
	@extend %header-font;
}
#slider .carousel-indicators-wrap .carousel-indicators .carousel-item-indicator { 
  text-indent: 0;  
}
#slider .carousel-indicators-wrap .carousel-indicators .carousel-item-indicator .indicator-num {
	font-size: 1.1rem;
	@extend %header-font;
}
#slider .carousel-indicators-wrap .carousel-indicators .carousel-item-indicator .indicator-text h3 {
	font-weight: 700;
	line-height: 1.6 !important;
	margin-bottom: $baseline * .2 !important;
	@extend %font-09;
	@extend %letter-spacing-1;
}
@media (max-width: 769px) {
	#slider .carousel-indicators-wrap .carousel-indicators .carousel-item-indicator .indicator-text h3 {
		font-size: .8rem !important;
		font-weight: 300;
	}
}
@media (max-width: 767px) {
	#slider .carousel-indicators-wrap .carousel-indicators .carousel-item-indicator .indicator-text h3 {
		font-size: .7rem !important;
		width: 100%;
		text-align: center;
	}
}
@media (max-width: 480px) {
	#slider .carousel-indicators-wrap .carousel-indicators .carousel-item-indicator .indicator-text h3 {
		display: none;
	}
}
#slider .carousel-indicators-wrap .carousel-indicators .carousel-item-indicator .indicator-text p {
	font-weight: 300;
	@extend %font-08;
	@extend %lh-16;
}
#slider .carousel-caption h2 {
	margin-bottom: $baseline / 2;
	text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	@extend %lh-14;
}
@media (max-width: 480px) {
	#slider .carousel-caption h2 {
		font-size: 1.4rem;
	}
}
@media (max-width: 767px) {
	#slider .carousel-caption p {
		font-size: .9rem;
	}
}
#slider .carousel-caption p.small-p{
	margin-bottom: $baseline / 3;
	text-transform: lowercase;
	letter-spacing: 1px;
	color: $main-clr;
}


/*----------------------------Slider-4-----------------------------*/
#slider-4{
	.carousel-item{
		.carousel-caption{
			h2{
				text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
				@extend %lh-14;
				@extend %mb-lh;

				@media screen and (orientation: portrait) { 
					font-size: calc(1.4rem + 0.2vw);
				}
				@media screen and (orientation: landscape) {
					font-size: calc(1.8rem + 0.5vw);
				}
			}

			p{
				line-height: 1;
				text-transform: lowercase;
				@extend %mb-lh;
			}

			.btn span{
				 @media screen and (orientation: portrait) { 
					font-size: 0.7rem !important;
				}

				@media screen and (orientation: portrait) and (max-width: 575px){ 
					font-size: 0.6rem !important;
				}
			}

			&-text{
				text-align: left;
			}
		}
	}

	.slider-footer-nav{
		h5{
			font-weight: 700;
			@extend %font-09;
		}

		p{
			text-transform: lowercase;
			@extend %font-08;
		}
	}

	.navs{
		.carousel-control-prev,
		.carousel-control-next{
			&-icon{
				vertical-align: middle;
				line-height: $baseline * 2;
			}
		}
	}
}
/*---------------------About section for About Page----------------*/

.about-about .our-services .additional-img figcaption h3 {
	font-weight: 800;
}
/*-----------------------------About Media-------------------------*/

.about-media .media-grid {
	position: relative;
}
.about-media .media-grid .media-item .figcaption h4 {
	@extend %font-1;
	@extend %letter-spacing-1;
}
.about-media .media-grid .media-item .figcaption p {
	@extend %font-08;
}
/*-------------Reviews Section for About Page----------------------*/

.about-reviews .reviews-carousel .review .review-author h4 {
	@extend %lh-16;
}
.about-reviews .reviews-carousel .review .review-author p {
	text-transform: capitalize;
	@extend %font-09;
}
.about-reviews .reviews-carousel .review .review-text p {
	@extend %font-1;
}
.pos-rel h2 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12.5rem;
}
/*---------------------------Team Section--------------------------*/

.about-team .member .member-info h3 {
	font-weight: 800;
}
.about-team .member .member-info .member-position {
	@extend %font-08;
}
.about-team .member .member-info p {
	@extend %font-08;
}
.about-team .member .member-info .member-contacts .email {
	@extend %font-08;
}
/*------------------------------Team-2-----------------------------*/

.about-team-2 {
	.member {
		&-info {
			.member-name {
				font-size: 1.2rem;
				text-align: left;
				@extend %lh-14;
			}
			.member-position {
				@extend %font-08;
				@extend %lh-14;
			}
			.read-more span {
				text-align: left;
				@extend %font-08;
			}
		}
		@media(max-width: 1024px) and (min-width: 992px) {
			.member-info {
				.member-name {
					font-size: 1rem;
				}
				.member-position, .read-more span {
					font-size: .7rem !important;
				}
			}
		}
		@media(max-width: 767px) {
			.member-info {
				.member-name {
					font-size: 1rem;
				}
				.member-position, .read-more span {
					font-size: .7rem !important;
				}
			}
		}
	}
}
/*----------------------Timeline Section---------------------------*/

#timeline .timeline .year .year-number h3 {
	font-weight: 800;
	text-transform: none;
	@extend %header-font;
	@extend %lh-14;
}
#timeline .timeline .year .events-wrap .event .event-data {
	@extend %font-08;
}
#timeline .timeline .year .events-wrap .event .event-row p {
	@extend %font-09;
}
/*------------------------Video Banner-----------------------------*/

#banner-video .banner-text-wrap .banner-text h4 {
	font-size: 1.6rem;
	font-weight: 800;
	@extend %lh-16;
}
@media (max-width: 1024px) {
	#banner-video .banner-text-wrap .banner-text h4 {
		font-size: 1.4rem;
	}
}

/*--------------------Content Block for Blog Page------------------*/

.blog-content .post .post-meta {
	@extend %header-font;
}
.blog-content .post .post-meta data span, .blog-content .post .post-meta time span {
	font-weight: 400 !important;
}
/*--------------------Sidebar for Blog Page------------------------*/

.blog-sidebar {
	h3 {
		font-weight: 700;
	}

	.categories a{
		@extend %font-08;
	}
}
/*--------------------------About Author---------------------------*/

.blog-sidebar .about-author figure figcaption h3 {
	font-size: 1.1rem;
	word-break: break-word;
}
.blog-sidebar .about-author figure figcaption h3 small {
	font-size: .6rem;
	text-transform: capitalize;
}
/*---------------------------Categories----------------------------*/

.blog-sidebar .categories ul li a {
	text-transform: uppercase;
}
.blog-sidebar .categories ul li span {
	@extend %header-font;
}
/*-------------------------------Tags------------------------------*/

.blog-sidebar .tags li {
	font-weight: 300;
	@extend %font-08;
	@extend %grey-blue-clr;
}
/*--------------------------Recent News----------------------------*/

.blog-sidebar .recent-news ul li a .text .date, .blog-sidebar .recent-news ul li a .text time {
	font-size: 0.7rem !important;
}
/*--------------------Content Block for Single Blog----------------*/

.blog-single-content .blog-top-info, .blog-single-content .blog-bottom-info, {
	font-weight: 400;
	@extend %font-08;
	@extend %header-font;
}
/*------------------------------------------------------------------
Comments Block. Consists styles for Comment List and Comment Form
------------------------------------------------------------------*/

#comments-list h4 {
	font-weight: 800;
}
#comments-list .media .media-header h5 {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: $baseline / 3;
	font-size: 0.7rem !important;
}
#comments-list .media .media-header .media-time,
#comments-list .media .media-footer .media-time {
	font-size: 0.7rem !important;
}
#comments-list .media .media-header .media-time span ,
#comments-list .media .media-footer .media-time span
{
	font-weight: 300;
}
#comments-list .media p {
	font-size: .9rem;
	font-weight: 300;
	@extend %lh-16;
}
#comments-list .media .replay {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 0.7rem !important;
	@extend %letter-spacing-1;
}
/*----------------------------Comment form-------------------------*/

#comment-form h4 {
	font-weight: 800;
	font-size: 1.3rem;
}
#comment-form button {
	text-transform: uppercase;
}
#comment-form label {
	text-transform: lowercase;
	@extend %font-09;
	@extend %header-font;
}
#comment-form input::-webkit-input-placeholder, #comment-form textarea::-webkit-input-placeholder {
	text-transform: uppercase;
	font-size: .7rem;
}
#comment-form input:-moz-placeholder, #comment-form textarea:-moz-placeholder {
	text-transform: uppercase;
	font-size: .7rem;
}
#comment-form input::-moz-placeholder, #comment-form textarea::-moz-placeholder {
	text-transform: uppercase;
	font-size: .7rem;
}
#comment-form input:-ms-input-placeholder, #comment-form textarea:-ms-input-placeholder {
	text-transform: uppercase;
	font-size: .7rem;
}
#comment-form input::placeholder, #comment-form textarea::placeholder {
	text-transform: uppercase;
	font-size: .7rem;
}
/*--------------------------Faq Page-------------------------------*/

.panel-default .panel-heading h4 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 0;
	@extend %font-08;
}
.panel-default .panel-heading a:after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	@extend %font-1;
}
.panel-default .panel-heading a[aria-expanded="true"]:after {
	font-weight: 800;
}
/*------------Featured Boxes Top Icon  and Side Icon---------------*/

.featured-boxes.top-icon .f-box {
	text-align: center;
}
.featured-boxes.top-icon .f-box .f-number {
	font-weight: 700;
	font-style: italic;
	font-size: 6rem;
	line-height: 0.7;
	@extend %header-font;
}
.featured-boxes.top-icon .f-box .f-box-icon {
	font-size: 3rem;
}
.featured-boxes.top-icon .f-box .f-box-text h4 {
	font-size: 1.125rem;
	font-weight: 700;
	word-wrap: break-word;
	@extend %header-font;
}
.featured-boxes.top-icon .f-box .f-box-text p {
	@extend %font-09;
}
.featured-boxes.icon-side .f-box .f-box-icon {
	font-size: 3rem;
}
.featured-boxes.icon-side .f-box .f-box-text h4 {
	font-weight: 700;
	@extend %font-09;
	@extend %header-font;
}
.featured-boxes.icon-side .f-box .f-box-text p {
	@extend %font-09;
	@extend %lh-16;
}
/*----------------------Footer Contact Form------------------------*/

.footer-form .get-in-touch h3 {
	text-align: center;
	@extend %header-font;
	@extend %letter-spacing-1;
}
.footer-form .get-in-touch .form-row .git-submit-btn i {
	font-size: 1.1rem;
}
/*---------------------------Footer--------------------------------*/

.footer ul li,
.footer-shop ul li {
	text-transform: uppercase;
	@extend %font-08;
	@extend %header-font;
}
.footer ul li span,
.footer-shop ul li span {
	text-transform: lowercase;
}
.footer .footer-brand .brand h6 {
	font-weight: 800;
	font-size: 1.4rem;
	@extend %lh-1;
}
.footer .footer-brand .brand .social i,
.footer-shop .footer-brand .brand .social i {
	@extend %font-08;
}
.footer .footer-mission {
	font-family: $header-font;
	@extend %font-08;
}
.footer .copyright,
.footer-shop .copyright {
	@extend %header-font;
}
.footer .copyright p,
.footer-shop .copyright p {
	font-size: 0.7rem !important;
	@extend %lh-16;
}
/*------------------------------Form-------------------------------*/

input::placeholder, textarea::placeholder {
	text-transform: uppercase;
	letter-spacing: 0.16rem;
	font-family: $header-font;
	font-size: 0.7rem !important;
}
/*---------------------------Checkboxes----------------------------*/

input[type="checkbox"]+label {
	font: 0.9rem/1.35rem;
}
/*---------------------Filters for Portfolio Pages-----------------*/

#filters, #owl-filters, #featured-items-tab {
	@extend %header-font;
}
#filters span, #owl-filters span {
	text-transform: lowercase;
	align-self: center;
	@extend %font-08;
}
#filters button, #owl-filters button, #featured-items-tab .nav-item {
	text-transform: uppercase;
	font-size: 0.7rem !important;
	@extend %letter-spacing-1;
}
/*--------------------About Section for Home Page------------------*/

#home-about .statistics .stat .number {
	font-size: 1.6rem;
	font-weight: 800;
	@extend %header-font;
}
#home-about .statistics .stat .text {
	text-transform: uppercase;
	line-height: 1.4;
	font-size: 0.7rem !important;
	@extend %lh-14;
}
/*-----------------Statistics Section with background--------------*/

.statistics-with-bg .statistics .stat .text {
  margin-top: $baseline / 2;
  @extend %font-08;
}
/*----------------------Portfolio hover effects--------------------*/

/*--------------------Hover-1-----------------*/

.hover-effect-1 .gallery-item h2, .hover-effect-1 .gallery-item p, .hover-effect-1 .grid-with-gutters .gallery-item a h2, .hover-effect-1 .grid-with-gutters .gallery-item a p {
	@extend %letter-spacing-1;
}
.hover-effect-1 .gallery-item h2, .hover-effect-1 .grid-with-gutters .gallery-item a h2 {
	text-transform: uppercase;
	font-weight: 700;
}
.hover-effect-1 .gallery-item p, .hover-effect-1 .grid-with-gutters .gallery-item a p {
	font-weight: normal;
}
/*-------------------Hover-2------------------*/

.hover-effect-2 .gallery-item h2, .hover-effect-2 .grid-with-gutters .gallery-item a h2 {
	font-weight: 700;
	@extend %letter-spacing-1;
	text-transform: uppercase;
}
.hover-effect-2 .gallery-item .gallery-caption, .hover-effect-2 .grid-with-gutters .gallery-item a .gallery-caption {
	@extend %lh-1;
}
.hover-effect-2 .gallery-item p, .hover-effect-2 .grid-with-gutters .gallery-item a p {
	font-weight: 700;
	@extend %lh-1;
}
/*------------------Hover Plus------------------*/

.plus h3 {
	font-weight: 400;
}
/*---------------------------form classes--------------------------*/

.help-block.with-errors {
	color: #d81b60;
	font-size: 0.7rem !important;
}
/*-------------------Latest Projects for Home Page-----------------*/

#latest-projects .project figure figcaption h3 {
	font-weight: 700;
	@extend %font-09;
}
#latest-projects .project figure figcaption p, #latest-projects .project figure figcaption data, #latest-projects .project figure figcaption time, #latest-projects .project figure figcaption .date {
	@extend %font-08;
}
/*---------------------------Lists---------------------------------*/

/*-------------------list-hyphen---------------------*/

.list-hyphen li {
	@extend %lh-16;
}
.list-hyphen li span, 
.list-hyphen li span i {
	text-transform: uppercase;
	@extend %font-08;
	@extend %letter-spacing-1;
	@extend %header-font;
}
.aside-list a {
	@extend %lh-16;
	@extend %letter-spacing-1;
}
.aside-list {
	text-transform: uppercase;
	@extend %font-08;
	@extend %header-font;
	@extend %letter-spacing-1;
}
/*------------------ List lower-upper------------------- */

.lower-upper li {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	@extend %font-08;
	@extend %header-font;
}
.lower-upper li>span {
	text-transform: lowercase;
	color: $grey-blue;
	letter-spacing: 0;
}
.lower-upper li>span.tag {
	text-transform: none;
}
/*--------------------List-number-------------------------*/

.list-number li p:after {
	line-height: .5;
	font-style: italic;
	font-weight: 800;
	font-size: 8rem;
	@extend %header-font;
}

.list-number li {
  h4{
    margin-bottom: $baseline / 3;
    @extend %lh-1;
  }
}
/*--------------------list-horizontal---------------------*/

.list-horizontal {
	li {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 800;
		@extend %font-09;
		@extend %lh-14;
		span {
			font-size: 80%;
			text-transform: lowercase;
			letter-spacing: 0;
			font-weight: 400;
			@extend %lh-1;
		}
	}
	@media(max-width: 767px) {
		li {
			font-size: .7rem;
		}
	}
}
/*--------------------------------Modal----------------------------*/

#git-modal .modal-body #git-modal-title h5 {
	font-weight: 800;
}
/*----------------------News Section for Home Page-----------------*/

#news .post .post-meta {
	@extend %header-font;
}
#news .post .post-meta data span, #news .post .post-meta time span, #news .post .post-meta .date span {
	font-weight: 400 !important;
}
/*----------------------------Page 404------------------------------*/

@media (min-width: 1680px) {
	#page-404 .btn {
		font-size: 1.1rem;
	}
	#page-404 .btn i, #page-404 .btn span {
		font-size: 1rem;
	}
}
#page-404 h2 {
	font-size: 4rem;
	font-weight: 900;
}
#page-404 h2, #page-404 h3 {
	line-height: 1;
}
@media (max-width: 480px) {
	#page-404 .btn {
		font-size: .9rem;
	}
}

@media (max-width: 320px) {
	#page-404 .btn {
		font-size: .8rem;
	}

	#page-404 .btn i{
		display: none;
	}
}
/*-------------------Page Header for Page Templates----------------*/

.page-header h1 {}
.page-header .pagination ul li {
	@extend %font-09;
	@extend %lh-14;
}
/*-----------------------Pagination--------------------------------*/

.ltv-pagination {
	@extend %header-font;
}
@media (max-width: 639px) {
	.ltv-pagination {
		font-size: .9rem;
	}
}
.ltv-pagination .page-arrow:first-child:before {
	font-size: .9rem;
}
.ltv-pagination .page-arrow:last-child:before {
	font-size: .9em;
}
/*-----------------Content Block For Personal Page-----------------*/

#personal-page .personal-info h3 {
	// font-size: 1.4rem;
	// font-weight: 800;
}
#personal-page .personal-description {
	p {
		font-size: 1.1rem;
		font-weight: 400;
	}
}
/*-------------------------- Preloader-----------------------------*/

.preloader-backdrop .loading {
	font-size: .8rem;
	@extend %text-font;
}
/*-------------------------Pricing Table---------------------------*/

.pricing-table .pricing-plan-wrap .pricing-plan header .plan-price {
	font-size: 1.8rem;
	font-weight: 800;
	@extend %lh-18;
	@extend %header-font;
}
.pricing-table .pricing-plan-wrap .pricing-plan header .plan-name {
	@extend %font-08;
	@extend %letter-spacing-1;
}
.pricing-table .plan-features li {
	font-weight: 300;
	@extend %font-08;
}
@media (max-width: 1024px) {
	.pricing-table .pricing-plan-wrap .pricing-plan header .plan-price{
	   font-size: 1.6rem; 
	}
	.pricing-table .pricing-plan-wrap .pricing-plan .btn-plan span{
		font-size: .7rem !important;
	}
}
/*-----------Custom button's styles for Leitmotiv Template---------*/

.btn {
	font-weight: 700;
	text-transform: uppercase;
	white-space: normal !important;
	word-wrap: break-word;
	line-height: 1;
	@extend %font-08;
	@extend %header-font;
	@extend %letter-spacing-1;
}
.btn span {
	font-weight: 700;
	font-size: 0.7rem !important;
}
.btn span:after {
	font-size: 100%;
	font-weight: 700;
}

/*----------------------------tag btn------------------------------*/

.tag {
	@extend %font-08;
	@extend %header-font;
}
/*------------------------Read More / Slogan-----------------------*/

.read-more span, .slogan span {
	font-weight: 700;
	text-transform: uppercase;
	@extend %font-08;
	@extend %lh-1;
}
.slogan {
	@extend %font-08;
}

/*----------------------Btn Start a Project--------------------*/
.btn-start-project{
	font-size: 0.7rem !important;
}

/*----------------------Vertical Top Navigation--------------------*/

#top-nav {
	line-height: $nav-height;
	vertical-align: middle;
	@extend %header-font;
}
#top-nav .brand {
	text-transform: uppercase;
	font-weight: 700;
	@extend %font-09;
	@extend %letter-spacing-1;
}

/*----------------------------2.12 Sidebar-------------------------*/

#sidebar-wrapper .navbar .brand-name {
	text-transform: uppercase;
	font-weight: 700;
}
.sidebar-nav li {
	line-height: 1.6;
}
.sidebar-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1;
	font-size: 0.7rem !important;
	@extend %letter-spacing-1;
}
.sidebar-nav li:hover, .sidebar-nav li:active, .sidebar-nav li:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
	text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
	font-size: 1.2rem;
	line-height: 4rem;
}
.sidebar-nav .dropdown-menu {
	@extend %font-09;
}
.sidebar-nav .dropdown-menu a {
	text-transform: lowercase;
	font-size: 0.7rem !important;
	@extend %lh-16;
	@extend %letter-spacing-1;
}
.sidebar-nav .dropdown-toggle:after {
	font-weight: 700;
	line-height: $baseline / 1.5;
	text-align: center;
	vertical-align: middle;
	@extend %font-1;
}
.sidebar-nav .active .dropdown-toggle:after {
	@extend %font-1;
}
/*------------------------hamburger button-------------------------*/

.hamburger.is-open:before {
	font-size: 14px;
	line-height: 32px;
}
/*-----------------------Horizontal Nav----------------------------*/

#top-nav-horizontal {
	line-height: $nav-height;
	@extend %font-1;
	@extend %header-font;

	@media(max-width: 991px){
		line-height: 1.8;
	}
}
#top-nav-horizontal .navbar-toggler {
	@extend %font-1;
}
#top-nav-horizontal .navbar-brand {
	line-height: $nav-height;
	text-transform: uppercase;
	font-weight: 700;
	@extend %font-09;
	@extend %letter-spacing-1;

	@media(max-width: 575px){
		font-size: .8rem !important;
	}
}
#top-nav-horizontal .logo:after {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.2rem;
}
#top-nav-horizontal .btn-wrap {
	font-size: .6rem;
}
#top-nav-horizontal #horizontal-nav ul li a {
	text-transform: uppercase;
	font-size: .6rem;
	@extend %letter-spacing-1;
}
#top-nav-horizontal #horizontal-nav ul li a:hover {
	text-decoration: none;
}
#top-nav-horizontal #horizontal-nav ul li .dropdown-menu ul li a {
	font-size: .65rem;
	color: $main-clr !important;
	text-transform: lowercase;
	@extend %lh-18;
	@extend %letter-spacing-1;
}
@media (min-width: 1024px) {
	#top-nav-horizontal #horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col h5 {
		font-size: .8rem;
		font-weight: 700;
		line-height: 1.6;
	}
	#top-nav-horizontal #horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col ul li a {
		text-transform: none;
		font-size: .65rem;
		line-height: 1.6;
	}
}
@media (max-width: 1023px) {
	#top-nav-horizontal #horizontal-nav .navbar-nav li a {
		font-size: .7rem;
	}
	#top-nav-horizontal #horizontal-nav .navbar-nav li .dropdown-menu ul li a {
		margin-left: $element_offset / 4;
		font-size: 0.7rem;
	}
}
/*-----------------------Shop Top Nav----------------------------*/

#shop-top-nav-horizontal {
	line-height: $nav-height;
	@extend %font-1;
	@extend %header-font;

	@media(max-width: 991px){
		line-height: 1.8;
	}
}
#shop-top-nav-horizontal .navbar-toggler {
	@extend %font-1;
}
#shop-top-nav-horizontal .navbar-brand {
	line-height: $nav-height;
	text-transform: uppercase;
	font-weight: 700;
	@extend %font-09;
	@extend %letter-spacing-1;
}
#shop-top-nav-horizontal .logo:after {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.2rem;
}
#shop-top-nav-horizontal .btn-wrap {
	font-size: .6rem;
}
#shop-top-nav-horizontal #shop-horizontal-nav ul li a {
	text-transform: uppercase;
	font-size: .6rem;
	@extend %letter-spacing-1;
}
#shop-top-nav-horizontal #shop-horizontal-nav ul li a:hover {
	text-decoration: none;
}
#shop-top-nav-horizontal #shop-horizontal-nav ul li .dropdown-menu ul li a {
	font-size: .65rem;
	color: $main-clr !important;
	text-transform: lowercase;
	@extend %lh-18;
	@extend %letter-spacing-1;
}
@media (min-width: 1024px) {
	#shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col h5 {
		font-size: .8rem;
		font-weight: 700;
		line-height: 1.6;
	}
	#shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col ul li a {
		text-transform: none;
		font-size: .65rem;
		line-height: 1.6;
	}
}
@media (max-width: 1023px) {
	#shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav li a {
		font-size: .7rem;
	}
	#shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav li .dropdown-menu ul li a {
		margin-left: $element_offset / 4;
		font-size: 0.7rem;
	}
}
/*--------------------------Company Tabs---------------------------*/

#company-tabs {
	/*.company-tabs .nav-tabs .nav-item.show .nav-link*/
}
#company-tabs .tab-img .tab-img-caption {
	font-weight: 700;
	text-transform: uppercase;
	@extend %font-09;
	@extend %letter-spacing-1;
	@extend %header-font;
}
#company-tabs .tab-img .tab-indicator {
	@extend %font-09;
}
#company-tabs .company-tabs .tab-content p {
	// @extend %font-1;
}
#company-tabs .company-tabs .nav-tabs .nav-item {
	text-transform: uppercase;
	@extend %letter-spacing-1;
	@extend %font-09;
	@extend %header-font;
}
/*---------------------------Services-3----------------------------*/

.services-3 .services-wrap .service-item .service-inner h3 {
	margin-bottom: 0 !important;
	line-height: 1 !important; // @extend %lh-14;
}
.services-3 .services-wrap .service-item .service-inner>p {
	text-transform: lowercase;
	@extend %font-09;
}
@media (max-width: 1200px) {
	.services-3 .services-wrap .service-item .service-inner h3 {
		font-size: 1rem;
	}
}
.services-3 .services-wrap .service-item .service-inner .service-text p {
	font-size: .9rem;
}
/*------------------------ --Steps with Bg-------------------------*/

#steps-bg #steps-tab .nav-item {
	font-size: 0.7rem !important;
	@extend %letter-spacing-1;
	@extend %header-font;
}
#steps-bg #steps-tab .nav-item:after {
	font-size: 2.8rem;
	font-weight: 800;
	line-height: .85;
	@extend %header-font;
}
@media (max-width: 768px) {
	#steps-bg #steps-tab .nav-item {
		font-size: .7rem;
	}
	#steps-bg #steps-tab .nav-item:after {
		font-size: 2.4rem;
	}
}
#steps-bg .tab-content .step-indicator {
	@extend %lh-1;
}
#steps-bg .tab-content .step .step-text h3 small {
	text-transform: lowercase;
	@extend %font-1;
}
#steps-bg .tab-content .step .step-text p {
	@extend %font-09;
}
/*------------------------Start a Project--------------------------*/

.start-a-project .step h3 {
	text-transform: none;
}
.start-a-project .project-services .form-check {
	line-height: $element_offset;
}
.start-a-project button{
	@extend %letter-spacing-1;
}
/*-----------------------------Aside-------------------------------*/

.aside-rtl {
	h3 {
		margin-bottom: 0;
		text-align: right;
		@extend %lh-16;

		@media(max-width: 1023px){
			text-align: center;
		}
	}
}

/*----------------------------Offsets------------------------------*/

.mb-120 {
	margin-bottom: $section_offset;
}
.mb-60 {
	margin-bottom: $element_offset;
}
.mb-30 {
	margin-bottom: $element_offset / 2;
}
.mb-20 {
	margin-bottom: $element_offset / 4;
}
.mt-20 {
	margin-top: $element_offset / 4;
}
.mt-30 {
	margin-top: $element_offset / 2;
}
/*-----------------------------Header------------------------------*/

header {
	display: flex;
}
.header {
	display: flex;
	@extend %element_offset;
}

.header .header-wrap {
	width: 100%;
	margin-bottom: 0;
	display: inline-block;
}
.header .header-wrap h2,
.header .header-wrap-short h2 {
	display: inline-block !important;
	margin-bottom: 0;
	width: 100%;
	@extend %lh-14;
}

.header .header-wrap-short h2{
	line-height: 1.4 !important;
}

.header .header-wrap p,
.header .header-wrap-short p {
	display: inline-block;
	font-weight: 400;
	@extend %mb-1-2;
	@extend %main-clr;

	@media(max-width: 1023px){
		margin-bottom: 0 !important;
	}
}

.header .read-more {
	margin-bottom: .4rem;
}
@media (max-width: 991px) {
	.header-long {
		flex-direction: column;
	}
	.header-long * {
		justify-content: flex-start !important;
	}
}
.header-long .slogan, .header-long #filters, .header-long .filters {
	line-height: 2.2;
	margin-bottom: 0;
}
@media (max-width: 575px) {
	.header-short {
		flex-direction: column;
	}
	.header-short h2 {
		margin-bottom: $baseline / 3 !important;
	}
}
ul {
	list-style: none;
}
/*--------------------------------Data-----------------------------*/

data span, time span, div.date span, p.date span {
	position: relative;
	font-weight: 700;
	display: inline-block;
	padding-right: 2.4rem;
	margin-right: 0.6rem;
	line-height: $lh;
}
data span:before, time span:before, div.date span:before, p.date span:before {
	content: '';
	position: absolute;
	top: calc(50% - 0.09rem);
	right: 0px;
	margin: auto;
	width: 1.8rem;
	height: $hyphen-lgt;
	@extend %grey-md-bg;
}
/*--------------------------hyphen-left----------------------------*/

.hyphen-left {
	position: relative;
	display: inline-block;
	padding-left: 2.4rem;
	margin-right: 0.6rem;
}
.hyphen-left:before {
	content: '';
	position: absolute;
	top: calc(50% - .12rem);
	left: 0;
	width: 1.8rem;
	height: $hyphen;
	@extend %dark-bg;
}
/*----------------------------hyphen-left--------------------------*/

.hyphen-right {
	position: relative;
	display: inline-block;
	padding-right: 2.4rem;
	margin-right: 0.6rem;
}
.hyphen-right:after {
	content: '';
	position: absolute;
	display: block;
	right: 0;
	top: calc(50% - .12rem);
	width: 1.8rem;
	height: $hyphen;
	@extend %dark-bg;
}
.hyphen-p:after, .hyphen-p:before {
	top: calc( .9rem - .12rem) !important; // $hyphen / 2 = .12rem
}

/*---------------------Typografy Content Page---------------------*/
#elements{
	padding-left: $element_offset * 2;

	@media (max-width: 1200px) {
		padding-left: $element_offset;
	}

	@media (max-width: 1023px) {
		padding-left: $baseline;
		margin-top: $element_offset;
	}

	@media(max-width: 767px){
		div[class^='col-']:not(.gallery-item) + div[class^='col-']:not(.gallery-item){
			margin-top: $element_offset;
		}

		#corners figure,
		.hover-zoom figure{
			margin-bottom: $baseline;
		}
	}

	section{
		@extend %section_offset;

		&:last-child{
			margin-bottom: 0;
		}
	}
	.content-inner{
		width: 100%;

		.row{
			@extend %element_offset;

			&:last-child(){
				margin-bottom: 0;
			}
		}
	}

	h3{
		@extend %mb-lh;
	}

	.color-palette{
		display: flex;
		@extend %element_offset;

		.color{
			width: 100%;
			min-height: 3* $baseline;
			display: flex;  
			justify-content: center;  
			align-items: center;
			box-sizing: border-box;
			flex-grow: 2;
		}

		@media(max-width: 575px){
			flex-wrap: wrap;

			.color{
				width: calc(100% / 2);
			}
		}
	}
	.btn{
		margin-right: $baseline / 2;

		@media(max-width: 767px){
			clear: both;
			margin-bottom: $baseline;
		}
	}


}