/*------------------------------------------------------------------------------------------------------------------
Video Banner
------------------------------------------------------------------------------------------------------------------*/
#banner-video {
  width: 100%;
  height: 18 * $baseline;
  z-index: 1;
  box-shadow: 0 -3px 5px -3px rgba(0, 0, 0, 0.25), 0 3px 5px -3px rgba(0, 0, 0, 0.25);
  @extend %section_offset;

   .embed-responsive {
    overflow: visible;
  }

  .animated{
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.32,.04,0,.94);
    @extend %opacity-0;
  }

  .video {
    background: black 100% 100% no-repeat;
    background-size: cover;
    filter: grayscale(0);
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    @include object-fit;
    @include position-absolute;

    .animated{
      @extend %opacity-0;
    }
  }

  .mask {
    z-index: 3;
  }

  .banner-text-wrap {
    width: 100%;
    @include position-absolute;
    @include flex-center;

    .banner-text {
      position: relative;
      z-index: 4;
      max-width: 100%;  
      flex-direction: column;
      width: 80%;
      text-align: center;
      @include flex-center;
      @extend %white-clr;

      h4 {
        animation-duration: 0.5s;
        animation-delay: .2s;
        @extend %mb-1-2;
        @extend %white-clr;

        &:before {
          left: -1rem;
          @extend %white-bg;
        }

        &:after {
          left: -1rem;
          @extend %white-bg;
        }

        p {
          color: #ccc;
        }
      }

      .btn{
        animation-delay: .3s;
        animation-duration: 0.5s;
      }
    }
  }
}

@media (max-width: 1023px) {
  #banner-video .video {
    width: 100%;
    height: 18 * $baseline ;
  }
}


