.brands{
	@extend %section_offset;

	.row{
		border-top: 1px solid $grey-lgt;
		border-left: 1px solid $grey-lgt;
	}

	.brand{
		position: relative;
		height: 8 * $baseline;
		@include flex-center;
		border-right: 1px solid $grey-lgt;
		border-bottom: 1px solid $grey-lgt;
		transition: all .5s ease-in-out;

		
		img{
			width: 150px;
			filter: grayscale(100%);
			opacity:.9;
			@include img-hover;

			@media(max-width: 1199px){
				width: 100px;
			}

			@media(max-width: 991px){
				width: 80px;
			}

			@media(max-width: 575px){
				width:100px;
			}
		}

		&:hover:nth-child(odd){
			background: azure;
		}

		&:hover:nth-child(even){
			background: beige;
		}
	}


}