#cart,
.wishlist{
	@extend %section_offset;

	h2, h3{
		@extend %mb-lh;
	}	

	.calculate-shipping{
		@extend %mb-lh;
	}

	.discount-code{}

	.summary-wrap{
		background: $dark-clr;
		padding: $baseline;
		margin-bottom: $baseline;

		h3{
			display: flex;
			justify-content: space-between;
			@extend %white-clr;
		}

		p, h4{
			width: 100%;
			display: flex;
			justify-content: space-between;
			
		}

		p{
			margin: 0;
			@extend %grey-lgt-clr;

			&:first-of-type{
				padding-top: $baseline / 2;
				border-top: 1px solid rgba(255,255,255, .1);
			}

			&:last-of-type{
				padding-bottom: $baseline / 2;
				border-bottom: 1px solid rgba(255,255,255, .1);
			}
		}

		h4{
			margin-top: $baseline / 2;
			@extend %main-clr;
		}

		
	}

	.btn{
		position: absolute;
		bottom: 0;
	}

	.btn-checkout{
		position: relative !important;
	}

	@media(max-width: 991px){
		.cart-wrap,
		.calculate-shipping,
		.discount-code{
			margin-bottom: $baseline * 2;
		}

		.table{
			thead{
				font-size: .8rem;
			}
			&-img{
				figure{
					width: $baseline * 3;
					height: $baseline * 3;
				}
			}
		}
	}

	@media(max-width: 767px){
		.table {

			&:after{
				display: block;
			}

			tbody{
				td:first-of-type{
					padding-left: $baseline / 2;
				}
			}

			tbody tr{
				border-bottom: 1px solid $dark-clr !important;

				&:last-child{
					border: none !important;
				}
			}

			tbody tr td {
				display: block;
				box-sizing:border-box;
				clear: both;
				min-width: 100%;
				padding: 15px;
				text-align: left;
				border-bottom: 1px solid $grey-lgt;

				&:last-child{
					border: none;
				}
			}

			thead {
				display: none;
			}
		}

		.summary-wrap h4{
			font-size: .9rem !important;
		}
		
	}

	@media(max-width: 720px){
		.btn{
			position: relative;
		}
	}
}

.table{
	width: 100%;
	border-collapse: collapse;
	position: relative;
	@extend %font-09;
	@extend %element_offset;

	&:before{
		content: '';
		width: 100%;
		height: $hyphen;
		background: $dark-clr;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&:after{
		content: '';
		width: 100%;
		height: $hyphen;
		background: $dark-clr;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}

	thead{
		text-transform: uppercase;
		@extend %dark-bg;
		@extend %white-clr;

		th{
			padding: $baseline / 2;
			border-right: 1px solid rgba(255,255,255, .08);
			border-left: 1px solid rgba(0,0,0, .5);
		}

		th:first-of-type{
			padding-left: $baseline;
		}
	}

	tbody{
		text-transform: lowercase;
		border-bottom: 1px solid $grey-lgt;

		&:before,
		&:after{
			content: '';
			width: 100%;
			height: $baseline;
			display: block;
		}

		td{
			border: none;
		}
		
		td:first-of-type{
			padding-left: $baseline;
		}

		tr{
			border-top: 1px solid #dee2e6;
		}

		tr:first-of-type{
			border: none;
		}
	}

	&-img{

		figure{
			width: $baseline * 6;
			height: $baseline * 6;

			img{
				width: 100%;
				height: 100%;
				@include object-fit;
			}
		}
	}

	&-name{
		h4{
			text-transform: lowercase;
			@extend %font-09;
		}
		.lower-upper li{
			margin-bottom: .3rem !important;
		}
	}
	&-price{}
	&-qnt{
		.qty-box{
			width: $baseline * 3;
		}
	}
	&-total{}
	&-remove{}
	&-add-to-cart{
		.btn{
			position: relative;
		}
	}
	
	&-remove{
		text-align: center;
	}

	&-name,
	&-price,
	&-qnt,
	&-total,
	&-remove,
	&-status,
	&-add-to-cart{
		padding:{
			top: $baseline / 2;
			bottom: $baseline / 2;
		};
	}
}

@media(max-width: 991px){
	.table{
		thead{
			font-size: .8rem;
		}
		&-img{
			figure{
				width: $baseline * 3;
				height: $baseline * 3;
			}
		}
	}
}

@media(max-width: 767px){
	.table {

		&:after{
			display: block;
		}

		tbody{
			td:first-of-type{
				padding-left: $baseline / 2;
			}
		}

		tbody tr{
			border-bottom: 1px solid $dark-clr !important;

			&:last-child{
				border: none !important;
			}
		}

		tbody tr td {
			display: block;
			box-sizing:border-box;
			clear: both;
			min-width: 100%;
			padding: 15px;
			text-align: left;
			border-bottom: 1px solid $grey-lgt;

			&:last-child{
				border: none;
			}
		}

		thead {
			display: none;
		}
	}
}






