.home-categories{
	@extend %section_offset;

	a, 
	figure{
		display: block;
		width: 100%;
		height: 100%;
	}

	.cat-large,
	.cat-small{
		position: relative;
		padding: 0;
		@extend %grey-lgt-bg;

		figcaption{
			position: absolute;
			bottom: $baseline;
			left: $baseline;

			p{
				@extend %font-08;
				@extend %grey-blue-clr;
			}

			h3{
				@extend %transition-35;
				position: relative;
				z-index: 2;
				@extend %transition-35;	
			}
		}
	}

	.cat-large{
		height: $baseline * 16.5;

		img{
			width: 100%;
			height: 100%;
			@include object-fit;
		}
	}

	.cat-small{
		height: $baseline * 8;
		background-image: linear-gradient(to left, #eeeeee, #dfe1e3, #cfd5d6, #c2c9c6, #babcb4);
		
		img{
			width: 100%;
			height: 100%;
			@include object-fit;
		}
	}

	.cat-small + .cat-small{
		margin-top: $baseline / 2;
	}

	figure {
		overflow: hidden;
		
		img{
			@include img-hover;
		}

		&:hover > figcaption h3{
			color: $white-clr ;
		}
	}
	

	@media(max-width: 991px){
		.cat-small + .cat-small{
			margin-top: 0;
		}
		.cat-large,
		.cat-small{
			margin-bottom: $baseline;
		}

		.cat-small:last-child{
			margin-bottom: 0;
		}
	}

	@media(max-width: 575px){
		.cat-small{
			position: relative;
			overflow: hidden;

			img{
				position: absolute;
				width: auto;
				top: 0;
				right: -2 * $baseline;
			}
		}
	}
}

