.shop-grid{
	.ltv-pagination{
		margin-top: $baseline * 2;
		margin-bottom: 0;
	}
}

#collapse-filter{
	display: none;

	@media(max-width: 767px){
		display: block;
		float: right;
		margin-bottom: $baseline;
		clear: both;
	}
}

#collapse-filter{
	text-transform: lowercase;
	position: relative;
	@extend %font-09;

	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: $hyphen;
		background: $main-clr;
		transform: translateY(3px);
	}

	&:hover{
		color: $main-clr;
	}

	&:hover:before{
		width: 100%;
	}
}
.filter-fixed-top{
	position: fixed !important;
	top: $baseline * 2;
	left: 0;
	padding-right: 6vw;
	z-index: 9999;

	@media(max-width: 575px){
		padding-right:  $element_offset / 2; 
	}
}

.top-filters-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: $baseline;
	@extend %font-08;

	.tags-selected,
	.columns-number{
		width: 100% !important;
		@extend %dark-clr;

		span{
			text-transform: lowercase;
			@extend %grey-blue-clr;

			&:after{
				@extend %grey-blue-bg;
			}
		}
	}

	.tags-selected{
		
	}
	.columns-number{
		display: flex;
		justify-content: flex-end;

		ul{
			display: flex;
			margin-bottom: 0;
		}
		
		li{
			width: auto;
			margin-right: $baseline / 3;

			&:hover{
				color: $main-clr;
			}
		}

		@media(max-width: 991px){
			display: none;
		}
	}
}
/*Product*/
.product{
	display: block;
	@extend %element_offset;

	.product-img{
		margin-bottom: $baseline / 2;
		position: relative;
		overflow: hidden;
		display: block;
		position: relative;
		@extend %mb-1-2;

		&:before{
			content: '';
			width: 100%;
			padding-top: 100%;
			display: block;
		}

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: transform .5s ease, 
						opacity 1s ease-in-out;
			@include object-fit;
			@include img-hover;
			@extend %opacity-0;
		}

		.active{
			z-index: 2 !important;
			opacity: 1 !important;
		}
		.non-active{
			z-index: 1;
			opacity: 0;
		}

		.product-badge{
			position: absolute;
			display: block;
			width: auto;
			height: auto;
			top: 0;
			padding: $baseline / 2;
			left: -1.2rem;
			padding: $baseline / 2 $baseline / 3;
			text-transform: uppercase;
			writing-mode: vertical-rl;
			text-orientation: upright;
			@extend %font-07;
			@extend %lh-1;

			@supports (-ms-ime-align:auto){
				left: 0;
				transform: rotate(180deg);
			}

			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
				left: 0;
				transform: rotate(180deg);
			}

			&.new{
				background: $accent-clr;
			}
			&.sale{
				background: #f44336;
				@extend %white-clr;
			}
			&.hit{
				background: #b39ddb;
				@extend %white-clr;
			}
		}

		.product-badge-round{
			position: absolute;
			display: block;
			top: $baseline / 2;
			right: $baseline / 2;
			width: $baseline * 1.5;
			height: $baseline * 1.5;
			padding: 3px;
			text-transform: uppercase;
			border-radius: 50%;
			@include flex-center;
			@extend %font-07;
			@extend %lh-1;

			&.new{
				background: $accent-clr;
			}
			&.sale{
				background: #f44336;
				@extend %white-clr;
			}
			&.hit{
				background: #b39ddb;
				@extend %white-clr;
			}
		}
	}
	.product-desc{
		position: relative;	

		.product-name-row{
			position: relative;
		}

		.product-name{
			padding-right: $baseline / 2;
			@extend %grey-blue-clr;
			@extend %mb-1-2;
		}

		.add-to-wishlist{
			width: 1rem;
			height: 1rem;
			position: absolute;
			top: 0;
			right: 0;
			font-family: 'FontAwesome';

			&:before{
				content: '\f08a';
				color: $main-clr;
				transition: color 0.5s ease-in-out;
			}

			&:hover:before,
			&.active{
				content: '\f004';
			}

		}

		.price-row{
			display: flex;
			justify-content: space-between;
		}
	}

	.price-row + .color-pallete{
		margin-top: $baseline / 2;
	}	

	.read-more{
		color: $main-clr;

		span{
			@media(max-width: 1999px) and (min-width: 767px){
				font-size: .7rem !important;
			}
		}
	}
}

.price{	
	width: 100%;
	display: flex;
	align-items: center;
	@extend %lh-1;

	del{
		color: $grey-blue;
		font-size: 80%;
	}

	del + ins{
		margin-left: $baseline / 3;
	}

	ins{
		text-decoration: none;
		font-weight: 800 !important;
	}

	.message{
		margin-left: $baseline / 2;
		color: #f44336;
		font-weight: 400;
	}
}

.product-rating{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;

	& > input {display: none;}

	& > label:before { 
	  content: "\f005"; /* Star */
	  margin-right: $baseline / 4;
	  font-family: FontAwesome;
	  @extend %font-08;
	}

	label{
		color: $grey-lgt;
		margin-bottom: 0;
	}

	& > input:checked ~ label{ color: #ffca08 ; } 

	& > input:hover ~ label{ color: #ffca08 ;  }

	span{
		margin-right: $baseline / 2;
		line-height: 2.2;
		@extend %grey-blue-clr;
		@extend %font-08;
	}

	.checked{color: #ffca08 ;}
	
}

.color-pallete{
	display: flex;

	.color{
		width: $baseline / 2;
		height: $baseline / 2;
		padding: 1px;
		margin-right: $baseline / 4;

		span{
			width:100%;
			height: 100%;
			display: block;
			@extend %grey-lgt-bg;
		}
		
		&.active{
			border: 1px solid #000;
		}
	}

	/*Colors for Color Pallete*/
	.gold,
	[data-color='gold']{
		span{background: gold;}
	}
	.brown,
	[data-color='brown']{
		span{background: brown;}
	}

	[data-color='white']{
		span{background: #fff; border: 1px solid #ddd;}
	}

	[data-color='aqua-sky']{
		span{
			background: #82bec9;
		}
	}

	[data-color='peacock-blue']{
		span{
			background: #185568;
		}
	}

	[data-color='kelly-green']{
		span{
			background: #0b764c;
		}
	}
	.black,
	[data-color='black']{
		span{
			background: #000;
		}
	}
}

