//tabs
%nav-tabs {
	border-bottom: $hyphen solid $grey-md;
	@extend %element_offset_small;

	.nav-item {
		border: 1px solid transparent;
		border-top-right-radius: 0;
		text-transform: uppercase;
		transform-origin: 0 0;
		position: relative;
		@extend %dark-clr; 

		@media(max-width: 575px){
			border: none;
		}
	}

	.nav-item .active {
		position: relative;
		background-color: transparent;
		border-color: transparent transparent $main-clr;
		@extend %main-clr;

		&:before {
			content: '';
			position: absolute;
			height: $hyphen;
			bottom: 0;
			transform: translateY(100%);
			left: 0;
			width: 100%;
			@extend %main-bg;

			@media(max-width: 575px){
			  bottom: 0;
			}
		}

		h2{
			@extend %main-clr;
		}
	}

	.nav-link{
		@extend %font-08;
		padding-left: 0;
		padding-right: $baseline;
		border: none;
	}

	@media(max-width: 575px){
		border: none;
	}
}

.ltv-tabs{
	.nav-tabs{
		@extend %nav-tabs;
	}
}
.product-detail{
	@extend %section_offset;

	.nav-tabs{
		@extend %nav-tabs;
	}

	.product-gallery{
		display: flex;
		flex-wrap: wrap;

		@media(min-width: 992px){
			padding-right: $baseline;
		}
		@media(max-width: 991px){
			display: block !important;
		}

		.gallery-img{
			width: 100%;
		}

		img{
			width: 100%;
			height: 100%;
			@include object-fit;
		}

		.owl-dots{
			margin-top: $baseline / 2;
		}

		@media(max-width: 991px){
			margin-bottom: $baseline * 2;
		}
	}

	.gallery-img + .gallery-img{
		margin-top: $baseline;
	}
	
	.social{
		@include social;
	}

	.form-add-cart{
		display: flex;
		margin-bottom: $baseline * 2.5;	

		#add-to-cart{
			width: 100%;
			margin-right: $baseline / 2;

			&:before{
				content: ''
			}

			@media(max-width: 375px){
				span{
					display:none;
				}

				&:before{
					content: '\f290';
					font-family: FontAwesome;
				}
			}
		}
	}	

	.title-wrap{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px dotted $grey-lgt;
		padding-bottom: $baseline / 2;
		margin-bottom: $baseline / 2;
	}

	.title-box{
		width: 100%;

		h1{
			margin-bottom: $baseline / 3;
			font-size: 1.2rem !important;
		}

		p{
			@extend %font-08;
			@extend %grey-blue-clr;
		}
	}

	.product-price{
		width: $baseline * 4;
		font-size: 1.2rem !important;
		font-weight: 800;
		color: $main-clr;
		text-align: right;
		@extend %lh-14;
	}

	.lower-upper{
		margin: 0 !important;
		li:last-child{
			margin-bottom: 0 !important;
		}
	}

	.tab-content{
		.lower-upper{
			margin-bottom: $baseline !important;

			li:last-child{
				margin-bottom: 0 !important;
			}
		}
	}
	.product-service{
		margin-bottom: $baseline * 2;

		.service-row{
			display: flex;

			.service{
				width: 100%;
				font-weight: 800;
				@extend %dark-clr;
				@extend %font-08;

				i{
					font-weight: 400 !important;
					font-size: 1rem;
					margin-right: $baseline / 2;
				}
			}

			.service + .service{
				margin-left: $baseline;
			}
		}
		.service-row + .service-row{
			margin-top: $baseline;
		}
	}

	.product-rating{
		justify-content: flex-end;
		border-bottom: 1px dotted $grey-lgt;
		padding-bottom: $baseline / 2;
		margin-bottom: $baseline;

		label{
			margin: 0;

			&:before{
				@extend %font-08;
			}
		}
	}

	#share{
		margin-top: $baseline;
		display: flex;
		justify-content: flex-end;

		span{
			margin-right: $baseline / 2;
			@extend %grey-blue-clr;
			@extend %font-08;
		}

		.social i{
			width: 2em;
			height: 2em;
			@extend %font-08;
		}
	}

	.tags-row{
		margin-top: $baseline;
		@extend %font-08;

		@media(max-width: 767px){
			margin-top: $baseline * 2;

			#share {
				justify-content: flex-start;
				margin-top: 0;
			}
		}
	}

	.product-options,
	.share,
	.color-pallete{
		@extend %mb-lh;
	}
}

.qty-box{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-right: $baseline / 2;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: $hyphen;
		background: $main-clr;
		transform: translateY(50%);
		transition: width .35s linear;
		z-index: 10;
	}

	&:hover:before{
		width: 100%;
	}

	.qty-btn{
		width: $baseline / 2;
		height: 100%;
		position: absolute;
		z-index: 15;
		@include flex-center;
		@extend %font-1;
		@extend %transition-35;

		&:hover{
			color: $main-clr;
		}
	}
	.qty-btn-down{
		left: 0;
	}
	.qty-btn-up{
		right: 0;
	}

	input[type="number"]{
		height: 100%;
		min-height: $baseline;
		text-align: center;
		position: relative;
		@extend %font-09;
	}	
}


