/*------------------------------------------------------------------------------------------------------------------
Shop Horizontal Nav
------------------------------------------------------------------------------------------------------------------*/
#shop-top-nav-horizontal {
  height: $nav-height;
  vertical-align: middle;
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.15);
  // position: absolute;
  // top: 0;

  .navbar {
    box-shadow: none;
    width: 100%;
  }

  .navbar-toggler {
    width: $nav-height;
    height: $nav-height;
    border-radius: 0;
    left: 0;
    margin: 0;
    @extend %main-bg;
  }

  .mCSB_inside>.mCSB_container {
    padding-right: 0;
  }

  .navbar-brand {
    padding: 0;
    padding-left: 3 * $baseline;
    max-width: 200px;

    &:hover{
      @extend %grey-lgt-clr;
    };
  }

  .logo {
    width: $nav-height;
    height: $nav-height;
    max-width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    @include flex-center;
    @extend %main-bg;

    &:after {
      content: 'Lt';
      z-index: 1;
      display: block;
      text-shadow: 0 1px #4f3e2a;
      @extend %dark-clr;
    }
  }

  .holder {
    order: 3;
    line-height: $nav-height; 
    margin-right: $baseline;
  }  

  .shop-btn-wrap {
    display: flex;

    a{
      margin-right: $baseline / 2;
    } 
  }

  #shop-horizontal-nav {
    @extend %transition-35;
    ul {
      list-style: none;

      li {
        a {
          padding-left: 1rem;
          padding-right: 1rem;
          @extend %main-clr;

          &:hover {
            color: $main-clr !important;
          }
        }
        .dropdown-menu {
          width: 15rem;
          padding: 0;
          position: absolute !important;
          top: $nav-height;
          left: 0;
          background: rgba(0, 0, 0, 0.95);
          border-radius: 0;
         

          ul {
            list-style: none;
            width: 100%;

            li {
              border-bottom: 1px solid rgba(0, 0, 0, 0.5);
              border-top: 1px solid rgba(255, 255, 255, 0.08);
              height: auto;
              max-height: $baseline * 2;

              &:first-child {
                border-top: none;
              }

              &:last-child {
                border-bottom: none;
              }

              a {
                display: block;
                margin: 0  $element_offset / 4;
                padding: $baseline / 2  $baseline / 4;
                color: $grey-lgt !important;

                &:hover {
                  color: $main-clr !important;
                }
              }

              @media(max-width: 991px){
                padding: 0.9rem 1.2rem;
              }
            }
          }
        }
      }
    }

    .active a {
      color: $main-clr;
    }
  }
}

@media (min-width: 1024px) {
  #shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown {
    position: static !important;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu {
    width: 100% !important;
    padding: 0  $element_offset / 2;
    top: $nav-height;
    left: -$nav-height;
    background: rgba(0, 0, 0, 0.95);    
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col {
    width: 25%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-top:  $element_offset / 2;
    padding-bottom:  $element_offset / 2;
    padding-left: $baseline;
    padding-right: $baseline;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col h5 {
    color: #fff;
    margin-bottom: $baseline / 2;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col ul li {
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col ul li:before {
    content: '';
    position: absolute;
    left: -$baseline;
    top: 0.7rem;
    width: 1.5rem;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li.mega-dropdown .mega-dropdown-menu .mdm-row .mdm-col ul li a {
    margin: 0;
    padding: 0.25rem 0;
  }
}

@media (min-width: 992px) {
  #shop-top-nav-horizontal #shop-horizontal-nav {
    justify-content: flex-end;
    padding-right:  $element_offset;
  }
  #shop-top-nav-horizontal .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
   #shop-top-nav-horizontal #shop-horizontal-nav {
    justify-content: none; 
  }

  #shop-top-nav-horizontal .logo {
    display: none;
  }

  #shop-top-nav-horizontal .holder {
    // display: none;
    order: 3;
    line-height: $nav-height;
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    margin-right: $baseline;
  }  

 

  #shop-top-nav-horizontal .navbar {
    width: $nav-height;
  }

  #shop-top-nav-horizontal #shop-horizontal-nav ul li .dropdown-menu {
    top: 0;
  }

  #shop-top-nav-horizontal #shop-horizontal-nav ul li a {
    color: #fff !important;
  }

  #shop-top-nav-horizontal .navbar-brand {
    order: 2;
    margin: 0;
    margin-left: $baseline;
    padding-left: 0;
  }
  #shop-top-nav-horizontal .navbar {
    order: 1;
    width: 4.6rem;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav {
    position: fixed;
    top: $nav-height;
    height: calc(100vh - #{$nav-height});
    position: fixed;
    overflow: hidden;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav {
    background: $dark-clr;
  }
  #shop-top-nav-horizontal .scrollbar-wrap {
    overflow: auto;
    max-height: 100vh;
    position: static;
    left: 0;
    top: 0;
  }

  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav {
    background: $dark-clr;
    width: 15rem;
    left: 0;
    top: $nav-height;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding:  $element_offset / 4 0;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav li a {
    padding-left:  $element_offset / 4;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav li .dropdown-menu {
    top:  $element_offset / 4;
  }

  #shop-top-nav-horizontal #shop-horizontal-nav ul li .dropdown-menu ul li {
    padding: .9rem 1.8rem;
}
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav li .dropdown-menu ul li a {
    padding: 0;
    margin: 0;
    margin-left: 0;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav li:last-child {
    border-bottom: none;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav .dropdown-menu {
    position: relative !important;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav .dropdown-toggle {
    position: relative;
    display: block;
    padding: 0 $baseline;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav .dropdown-toggle:after {
    content: '+';
    width:  $baseline / 2;
    height:  $baseline / 2;
    background: #ae8c64;
    border: none;
    position: absolute;
    right: $baseline / 2;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    color: $white-clr;
    line-height: $baseline / 2;
    vertical-align: middle;
    text-align: center;
  }

  #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav .active .dropdown-toggle:after {
    content: '-';
    color: #fff;
  }
}

@media (max-width: 1024px) {
  #shop-top-nav-horizontal #shop-horizontal-nav ul li .mega-dropdown-menu h5 {
    display: none;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li .mega-dropdown-menu ul {
    margin: 0;
    padding: 0;
  }
  #shop-top-nav-horizontal #shop-horizontal-nav ul li .mega-dropdown-menu ul li a {
    margin-left: 0;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  #shop-top-nav-horizontal #shop-top-nav-horizontal #shop-horizontal-nav .navbar-nav .dropdown-menu {
    top: 3rem;
  }
  #shop-top-nav-horizontal .mega-dropdown-menu h5 {
    display: block !important;
  }
  #shop-top-nav-horizontal .dropdown-toggle {
    position: relative;
    display: block;
  }
  #shop-top-nav-horizontal .dropdown-toggle:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
  #shop-top-nav-horizontal .dropdown-toggle .active .dropdown-toggle:after {
    content: '';
  }
}
/*-------------------------------Shopping Cart----------------------------------*/
  #btn-cart-wrap{
    width: $nav-height;
    height: $nav-height;
    position: fixed;
    right: 0;
    top: 0; 
    z-index: 1031;
    @include flex-center;
  }

  .btn-cart{
      position: relative; 

      i{
        color: $main-clr;
      }

      .cart-count{
        position: absolute;
        top: 0;
        right: 0;
        min-width: $baseline / 2;
        min-height: $baseline / 2;
        padding: 2px;
        border-radius: 50%;
        transform: translate(80%, 60%);
        font-size: 0.6rem;
        line-height: calc(#{$baseline} / 2 - 2px);
        text-align: center;
        vertical-align: middle;
        @extend %accent-bg;
        @extend %dark-clr;
      }
  }

#shopping-cart {  
  right: -100%;
  height: calc(100vw - #{$nav-height});
  width: $baseline * 12;
  top: $nav-height;
  position: absolute;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: $dark-clr;
  transition: right 0.5s ease;
  color: $grey-lgt; 
  padding-right: 16px;

  h5{
     @extend %white-clr;
  }

  li,
  p{
    @extend %grey-lgt-clr;
  }

  .sc-header{
    display: flex;
    justify-content: space-between;
    padding:{
      left: $baseline ;
      right: $baseline;
    };

    @media(max-width: 991px){
      line-height: 2 * $baseline;
    }

    .hyphen-right{
      &:after{
        background: $grey-lgt;
        height: $hyphen-lgt;
      }
    }

    .sc-cart-total{
      p{
        span{
          text-transform: lowercase;
          font-weight: 400;
          @extend %font-08;
        }
      } 
    }
  }
  .shopping-cart-items{
    @extend %lh-18;
    margin-bottom: $baseline / 2;

    li{
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      border-top: 1px solid rgba(255, 255, 255, 0.08);
      padding:{
        top: $baseline / 2;
        bottom: $baseline / 2;
        left: $baseline 
      };

      figure{
        float: left;
        margin-right: $baseline / 2;
        width: $baseline * 3;
        height: $baseline * 2.5;

        img{
          width: 100%;
          height: 100%;
          @include object-fit;
        }
      }
      
      .item-info{
        position: relative;
        width: 100%;

        .item-name {
          width: 100%;
          display: block;
          padding-right: 2.5 * $baseline;
          line-height: 1.2;
          @extend %font-09;
        }
        
        .item-price {
          color: $main-clr;
          margin-right: $baseline / 2;
          @extend %font-08;
        }
        
        .item-quantity {
          color: $grey-lgt;
          @extend %font-08;
        }

        .close{
          position: absolute;
          right: $baseline / 2;
          top: 0;
          text-shadow: none;
          background: $main-clr;
          width: $baseline / 1.5;
          height: $baseline / 1.5;
          @include flex-center;
          @extend %lh-1;
          font-size: 1.2rem;

          span{
            color: #fff;
            font-weight: 400;
          }
        }
      }
    }
  }

  .btn-wrap{
    @extend %lh-18;
    text-align: center;
    padding:{
      left: $baseline ;
      right: $baseline;
    };

    .btn-ltv{
      width: 100%;
      margin-bottom: $baseline / 2;
    }

    .sc-collapse{
      @extend %lh-1;
      @extend %font-08;
    }

  }
}

 #shopping-cart.cart-open{
  right: 0;
}
