.sidebar-shop{
	.sidebar-section{
		@extend %element_offset;

		&:last-child{
			margin-bottom: 0;
		}

		h4{
			margin-bottom: $baseline;
		}

		li{
			margin-bottom: $baseline / 3;
			@extend %lh-16;
			@extend %font-09;
		}

		li:last-child{
			margin-bottom: 0;
		}
	}

	.sidebar-categories{
		
	}
	.sidebar-price-slider{
		#price-slider{
			margin: 0 $baseline / 8 $baseline / 2;
		}

		.price-value-row{
			display: flex;

			&-text{
				@extend %font-08;
				@extend %grey-blue-clr;
			}
			span{
				margin-right: $baseline / 3;
				@extend %font-08;
				@extend %main-clr;
			}
			input[type="number"]{
				width: $baseline * 1.5;
				padding: 0;
				height: 1.4rem;
				// font-size: .8rem !important;
				@extend %font-08;
			}
		}
	}
	.sidebar-options{

		.option{
			@extend %mb-lh;

			h5{
				@extend %mb-1-2;
			}

			h5{
				font-weight: 900;
				position: relative;
				@extend %font-09;

				span{
					position: relative;
					padding-right: $baseline / 2;
					@extend %white-bg;
				}

				&:before{
					content: '';
					width: 100%;
					height: 1px;
					position: absolute;
					border-top: 1px dotted #ccc;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		@media(max-width: 767px){
			.options-wrap{
				display: flex;
				flex-wrap: wrap;
			}
			.option{
				width: 50%;
				padding-right: $baseline;
			}
		}

		@media(max-width: 575px){
			.option{
				width: 100%;
				padding-right: 0;
			}
		}
	}

	.sidebar-color-palette{
		ul{
			display: flex;
			flex-wrap: wrap;

			li{
				width: $baseline / 3 * 2;
				height: $baseline / 3 * 2;
				padding: 1px;
				margin-right: $baseline / 3 ;
				margin-bottom: $baseline / 3;
				@extend %transition-35; 

				span{
					width: 100%;
					height: 100%;
					display: block;
				}

				&.active{
					border: 1px solid #000;
				}
			}
		}

		.white{
			span{
				border: 1px solid #ccc;
				@extend %white-bg;
			}
		}
		.brown{
			span{background: brown;}
		}

		.black{
			span
			{background: #000;}
		}

		.gold{
			span{background: gold;}
		}
		.metallic{
			span
			{background: grey;}
		}

		.green{
			span
			{background: green;}
		}

		.blue{
			span
			{background: blue;}
		}

		.lavender{
			span
			{background: lavender;}
		}
	}

	@media(max-width: 767px){
		&.sidebar-left{
			margin-bottom: $element_offset;
		}

		&.sidebar-right{
			order: 1;
		}

		.shop-grid{
			order: 2;
		}
	}
}

.grid-wrap{
	@extend %section_offset;

	.filter-btn-wrap{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		@extend %white-bg;
	}
}

.sidebar-left{
	@media(min-width: 1200px){
		padding-right: $baseline;
	}
}

.sidebar-right{
	@media(min-width: 1200px){
		padding-left: $baseline;
	}
}

.grid-wrap-right{
	@media(max-width: 767px){
		.sidebar-right{
			order: 1;
		}

		.shop-grid{
			order: 2;
		}
	}
}

