.subscribe-wrap{
	position: relative;
	width: 100%;
	padding: $baseline;
	@extend %white-bg;
	@extend %section_offset;
}
.subscribe{
	width: 100%;
	background: url(../img/subscribe-bg.jpg) 0% 20%;
	background-size: cover;
	background-color: $dark-clr;
	box-shadow: 0 -6px 10px -6px rgba(0, 0, 0, 0.35), 0 6px 10px -6px rgba(0, 0, 0, 0.35);	
	display: flex;

	&-text{
		width: 35%;
		padding: $baseline 0;
		background: #000;
		border-right: 1px solid rgba(255,255,255, .1);
		padding:{
			left: 2 * $baseline;
			right: 2 * $baseline;
		}

		h3, p{
			color: $white-clr;
		}

		h3{
			margin-bottom: $baseline / 3;
		}

		p{
			@extend %font-07;
			@extend %grey-lgt-clr;
		}
	}

	&-form{
		width: 65%;
		padding: $baseline 0;
		padding:{
			left: 2 * $baseline;
			right: 2 * $baseline;
		}

	}
	.subscribe-form{
		border-left: 1px solid rgba(0,0,0, .8);
	}
	#subscribe-form{
		width: 100%;

		.form-group{
			margin:0;
			width: calc(100% - 4rem);
		}

		.md-form{
			margin-bottom: 0;
			position: relative;
		}

		.subscribe-submit-btn-wrap{
			border-radius: 50%;  
			margin-bottom: 0;
			width: 3rem;
			height: 3rem;
			transition: background .4s ease-in-out;
			position: absolute;
			right: 0;
			top: 5px;
			@include flex-center;
			@extend %accent-bg;

			&:hover{
				animation: shadow-inset-center 0.25s ease-in-out both;
				@extend %main-bg;
			}

			i{
				@extend %dark-clr;
			}
			
		}
	}

	&-text, &-form{
		z-index: 5;
	}

	@media(max-width: 991px){
		&-text,
		&-form{
			width: 50%;
			padding:{
				left: $baseline;
				right: $baseline;
			};
		}
	}

	@media(max-width: 767px){
		flex-wrap: wrap;

		&-text,
		&-form{
			width: 100%;
		}

		#subscribe-form{
			padding-bottom: $baseline;
		}
	}

	@media(max-width: 375px){
		#subscribe-form .form-group{
			width: 100%;
		}

		#subscribe-form .subscribe-submit-btn-wrap{
			position: relative;
			top: 0;
			margin: $baseline auto 0;
		}

		#subscribe-form {
			padding-bottom: 0;
		}
	}
}