@charset 'utf-8';
/*-----------------------------------------------------------------------------------------------------------------

[Table of content]

1. Main template settings
	1.1 Colors
	1.2 Fonts
	1.3 Typography
	1.4 Mixins
	1.5 Hover Effects
	1.6 Preloader
	1.7 Buttons
	1.8 Form
	1.9 Modal
	1.10 Corners
	1.11 Lists
	1.12 Tooltips
	1.13 Scroll Up / Down
	1.14 Striped-wrap
	1.15 Animations
	1.16 Company-tabs
2. Navigations
	2.1 Vertical Nav
	2.2 Horizontal Nav
3. Sliders
	3.1 Slider-1.
	3.2 Slider-2.
	3.3 Slider-3.
	3.4 Slider-4.
	3.5. Slider-5
4. Footer
	4.1 Footer
	4.2 Footer Form
5. Home page
	5.1 About us
	5.2 Latest Projects
	5.3 Reviews
	5.4 News
	5.5 Clients
	5.6 Home Portfolio
	5.7 Home Blog
	5.8 Video Banner
	5.9 Steps
6. Services
	6.1 Services-v1
	6.2 Services v2	
	6.3 Services v3	
	6.4 Single Service
	6.5 Pricing Table
7. Page
	7.1 Page Header
	7.2 Pagination
	7.3 Featured boxes
8. About Page
	8.1 About
	8.2 Team
	8.3 Reviews with bg
	8.4 Timeline
	8.5 Statistics with bg
	8.6 Media
9. Blog
	9.1 Blog grid content
	9.2 Blog Sidebar
	9.3 Single Blog Content
	9.4 Comments
	9.5 Releted posts
10. Portfolio
	10.1 Portfolio Default
	10.2 Single Gallery
	10.3 Portfolio Grid
	10.4 Portfolio with Cards
	10.5 Portfolio Masonry
	10.6 Portfolio Horizontal
	10.7 Filters
	10.8 Portfolio Grid With Gutters
	10.9 Portfolio Justified
	10.10 Portfolio Listing
11. Contact Page Block
12. Personal Page Block
13. Faq Page Block
14. 404 Page Block
15. Start a Project
16. Shop
	16.1 Footer Shop
	16.2 Featured Items
	16.3 Pluses
	16.4 Actions
	16.5 Home Categories
	16.6 Ideas
	16.7 Brands
	16.8 Subscribe
	16.9 Shop Top Nav Horizontal
	16.10 Sidebar Shop
	16.11 Products Grid
	16.12 Product
	16.13 Related Items
	16.14 Product Additional Gallery
	16.15 Login Regester
	16.16 Checkout
	16.17 Cart

-----------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------
1. Main template settings
------------------------------------------------------------------------------------------------------------------*/
//main variables
$lh: 1.8; //line-height: 1.8
$baseline: $lh * 1rem;
$section_offset: 5 * $baseline;
$element_offset: 2 * $baseline;
$hyphen: .24rem;
$hyphen-lgt: .18rem;
$hyphen-heavy: .36rem;
$nav-height: 2 * $baseline;

%section_offset,
.section_offset{
	margin-bottom: $section_offset;

	@media(max-width: 575px){
		margin-bottom: $section_offset - $element_offset / 2;
	}
}

%element_offset,
.element_offset{
	margin-bottom: $element_offset;
}

%element_offset_small,
.element_offset_small{
	margin-bottom: $element_offset / 2;
}

%section_offset_small{
	margin-bottom: $section_offset - $element_offset / 2;

	@media(max-width: 575px){
		margin-bottom: $section_offset - $element_offset;
	}
}

%mt-2lh{
	margin-top: $baseline * 2;
}

.mt-2lh{
	margin-top: $baseline * 2;
}

.mb-lg-lh{
	@media(max-width: 1999px) and (min-width:768px){
		margin-bottom: $baseline * 2;
	}
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html{
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

body {
  position: relative;
  padding-top: $nav-height !important;
  margin: 0; 
}

.wrap {
  overflow: hidden;
}

.content-wrap {
  position: relative;
  background: #fff;
  width: 100%;
  padding-top: $section_offset;
  z-index: 11;

  @media(max-width: 1024px){
  	padding-top: $section_offset - $element_offset / 2;
  }
}
.empty-block{
	width: 100%;
}
.content,
.ideas .owl-dots,
.ideas .owl-nav {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  // min-width: 320px; 
  margin: 0 auto;
  padding-bottom: 0px;

	@media(max-width: 1920px){
		max-width: 1120px;
	} 

	@media(max-width: 1200px){
		padding-left: 4vw;
	    padding-right: 4vw;
	}

	@media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  	    padding-left: 6vw;
	    padding-right: 6vw;
	}

	@media(max-width: 1023px){
		padding-left: 6vw;
	    padding-right: 6vw;
	}

	@media (max-width: 575px) {  
	    padding-left:  $element_offset / 2;
	    padding-right:  $element_offset / 2;  
	}
}

.content-horizontal {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background: #fff;
}

.content-wrapper {
  position: relative;
}

img.lazy {
  display: none;
}

#overlay-it{
	width: 150px;
}

/*------------------------------------------------------------------------------------------------------------------
1.1
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_colors';

/*------------------------------------------------------------------------------------------------------------------
1.2
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_fonts';

/*------------------------------------------------------------------------------------------------------------------
1.3
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_typography';

/*------------------------------------------------------------------------------------------------------------------
1.4
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_mixins';

/*------------------------------------------------------------------------------------------------------------------
1.5
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_hover-effects';

/*------------------------------------------------------------------------------------------------------------------
1.6
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_preloader';

/*------------------------------------------------------------------------------------------------------------------
1.7
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_buttons';

/*------------------------------------------------------------------------------------------------------------------
1.8
*------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_forms';

/*------------------------------------------------------------------------------------------------------------------
1.9
*------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_modal';

/*------------------------------------------------------------------------------------------------------------------
1.10
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_corners';

/*------------------------------------------------------------------------------------------------------------------
1.11
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_lists';

/*------------------------------------------------------------------------------------------------------------------
1.12
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_tooltips';

/*------------------------------------------------------------------------------------------------------------------
1.13
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_scroller-up-down';

/*------------------------------------------------------------------------------------------------------------------
1.14
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_striped-wrap';

/*------------------------------------------------------------------------------------------------------------------
1.15
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_animations';

/*------------------------------------------------------------------------------------------------------------------
1.16
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_company-tabs';



/*------------------------------------------------------------------------------------------------------------------
2. Navigations
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
2.1
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_top-nav';

/*------------------------------------------------------------------------------------------------------------------
2.2
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_top-nav-horizontal';



/*------------------------------------------------------------------------------------------------------------------
3. Sliders
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
3.1
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_slider-1';

/*------------------------------------------------------------------------------------------------------------------
3.2
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_slider-2';

/*------------------------------------------------------------------------------------------------------------------
3.3
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_slider-3';

/*------------------------------------------------------------------------------------------------------------------
3.4
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_slider-4';

/*------------------------------------------------------------------------------------------------------------------
3.5
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_slider-5';



/*------------------------------------------------------------------------------------------------------------------
4. Footer
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
4.1
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_footer';

/*------------------------------------------------------------------------------------------------------------------
4.2
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_footer-form';



/*------------------------------------------------------------------------------------------------------------------
5. Home Page
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
5.1 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_home-about';

/*------------------------------------------------------------------------------------------------------------------
5.2 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_latest-projects';

/*------------------------------------------------------------------------------------------------------------------
5.3 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_reviews';

/*------------------------------------------------------------------------------------------------------------------
5.4 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_news';

/*------------------------------------------------------------------------------------------------------------------
5.5 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_clients';

/*------------------------------------------------------------------------------------------------------------------
5.6
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_home-portfolio';

/*------------------------------------------------------------------------------------------------------------------
5.7
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_home-blog';

/*------------------------------------------------------------------------------------------------------------------
5.8
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_banner-video';

/*------------------------------------------------------------------------------------------------------------------
5.9
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_steps';


/*------------------------------------------------------------------------------------------------------------------
6. Services
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
6.1 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_services-1';

/*------------------------------------------------------------------------------------------------------------------
6.2
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_services-2';

/*------------------------------------------------------------------------------------------------------------------
6.3
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_services-3';

/*------------------------------------------------------------------------------------------------------------------
6.4 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_service-page';

/*------------------------------------------------------------------------------------------------------------------
6.5 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_pricing-table';


/*------------------------------------------------------------------------------------------------------------------
7. Page
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
7.1 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_page-header';

/*------------------------------------------------------------------------------------------------------------------
7.2 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_pagination';

/*------------------------------------------------------------------------------------------------------------------
7.3
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_featured-boxes';



/*------------------------------------------------------------------------------------------------------------------
8 About Page
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
8.1
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_about-about';

/*------------------------------------------------------------------------------------------------------------------
8.2
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_about-team';

/*------------------------------------------------------------------------------------------------------------------
8.3 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_reviews-with-bg';

/*------------------------------------------------------------------------------------------------------------------
8.4
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_about-timeline';

/*------------------------------------------------------------------------------------------------------------------
8.5
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_statistics-with-bg';

/*------------------------------------------------------------------------------------------------------------------
8.6
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_about-media';



/*------------------------------------------------------------------------------------------------------------------
9. Blog
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
9.1
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_blog-content';

/*------------------------------------------------------------------------------------------------------------------
9.2
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_blog-sidebar';

/*------------------------------------------------------------------------------------------------------------------
9.3
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_blog-single-page';

/*------------------------------------------------------------------------------------------------------------------
9.4
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_blog-comments';

/*------------------------------------------------------------------------------------------------------------------
9.5
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_blog-related-posts';



/*------------------------------------------------------------------------------------------------------------------
10. Portfolio
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
10.1
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-default';

/*------------------------------------------------------------------------------------------------------------------
10.2 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-single-page';

/*------------------------------------------------------------------------------------------------------------------
10.3
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-grid';

/*------------------------------------------------------------------------------------------------------------------
10.4
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-cards';

/*------------------------------------------------------------------------------------------------------------------
10.5 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-masonry';

/*------------------------------------------------------------------------------------------------------------------
10.6
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-horizontal';

/*------------------------------------------------------------------------------------------------------------------
10.7 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-filters';

/*------------------------------------------------------------------------------------------------------------------
10.8 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-with-gutters';

/*------------------------------------------------------------------------------------------------------------------
10.9 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-justified';

/*------------------------------------------------------------------------------------------------------------------
10.10 
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_portfolio-listing';


/*------------------------------------------------------------------------------------------------------------------
11 Contact Page
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_contact-page';


/*------------------------------------------------------------------------------------------------------------------
12 Personal Page
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_personal-page';


/*------------------------------------------------------------------------------------------------------------------
13. Faq Page
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_faq-page';


/*------------------------------------------------------------------------------------------------------------------
14 Page 404
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_404-page';


/*------------------------------------------------------------------------------------------------------------------
15 Page Start a Project
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/_start-a-project';



/*------------------------------------------------------------------------------------------------------------------
16 Shop
------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------
16.1 Shop footer
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_footer-shop';

/*------------------------------------------------------------------------------------------------------------------
16.2 Featured Items
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_featured-items';

/*------------------------------------------------------------------------------------------------------------------
16.3 Pluses
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_pluses';

/*------------------------------------------------------------------------------------------------------------------
16.4 Actions
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_actions';

/*------------------------------------------------------------------------------------------------------------------
16.5 Home Categories
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_home-categories';

/*------------------------------------------------------------------------------------------------------------------
16.6 Ideas
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_ideas';


/*------------------------------------------------------------------------------------------------------------------
16.7 Brands
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_brands';

/*------------------------------------------------------------------------------------------------------------------
16.8 Subscribe
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_subscribe';

/*------------------------------------------------------------------------------------------------------------------
16.9 Shop Top Nav Horizontal
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_shop-top-nav';

/*------------------------------------------------------------------------------------------------------------------
16.10 Sidebar Shop
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_sidebar-shop';

/*------------------------------------------------------------------------------------------------------------------
16.11 Products Grid
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_products-grid';

/*------------------------------------------------------------------------------------------------------------------
16.12 Product
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_product';

/*------------------------------------------------------------------------------------------------------------------
16.13 Related Items
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_related-items';

/*------------------------------------------------------------------------------------------------------------------
16.14 Product Additional Gallery
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_product-additional-gallery';

/*------------------------------------------------------------------------------------------------------------------
16.15 Login Register
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_login-register';

/*------------------------------------------------------------------------------------------------------------------
16.16 Login Register
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_checkout';

/*------------------------------------------------------------------------------------------------------------------
16.16 Cart
------------------------------------------------------------------------------------------------------------------*/
@import 'partials/shop/_cart';




/*-------------------------------Bluiemp's icons------------------------------*/
.blueimp-gallery {
  transition: all 0.5s ease-in-out;
}

.blueimp-gallery > .prev,
.blueimp-gallery > .next,
.blueimp-gallery > .close {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  opacity: 0.8;
  -moz-background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
       background-size: 100% 100% !important;
  display: block;
}

.blueimp-gallery > .prev {
  background: url(../img/fotorama/arrow-left.png);
  left: 0;
}

.blueimp-gallery .close {
  top: 4rem;
  background: url(../img/fotorama/close.png);
  margin-top: 0;
}

.blueimp-gallery > .next {
  background: url(../img/fotorama/arrow-right.png);
  right: 0;
}

/*-------------------------------Aside Nav------------------------------*/
aside {
  transition: all 0.5s ease;
}

aside ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: $baseline !important;
}

aside a {
  color: $dark-clr;
}

aside a:hover {
  color: #71583b;
}

aside a .active {
  color: $main-clr;
}

aside .read-more {
  color: $main-clr;
}

@media (max-width: 768px) {
  aside ul li {
    padding-left: 0;
    padding-right: 0;
  }
  aside h3 {
    margin-left: 0;
  }
}

/*-------------------------------Fotorama's icons------------------------------*/
.fotorama__arr {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  opacity: 0.8;
  -moz-background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
       background-size: 100% 100% !important;
  background-position: 0 0;
  font-size: 1em;
  top: 50%;
  margin-top: -1.25px;
}

.fotorama__arr--prev {
  left: 0;
  background: url(../img/fotorama/arrow-left.png);
}

.fotorama__arr--next {
  right: 0;
  background: url(../img/fotorama/arrow-right.png);
}

.fotorama__fullscreen-icon {
  width: 2.5em;
  height: 2.5em;
  top: 2px;
  right: 2px;
  background: url(../img/fotorama/expanding.png);
  -moz-background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
       background-size: 100% 100% !important;
  background-position: 0 0;
  z-index: 20;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
  background: url(../img/fotorama/collapsing.png) !important;
  -moz-background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
       background-size: 100% 100% !important;
  background-position: 0 0;
}

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
  -webkit-transform: translate3d(2.5em, -2.5em, 0);
     -moz-transform: translate3d(2.5em, -2.5em, 0);
          transform: translate3d(2.5em, -2.5em, 0);
}

.fotorama__thumb-border {
  border-color: #ae8c64;
}

/*-------------------------------Columns------------------------------*/
@media (min-width: 1921px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
  .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
  .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1,
  .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
  .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3,
  .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
  .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
  .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.is-showing-items .gallery-item {
  opacity: 1 !important;
  /* reveal when ready */
}

/*------------------------------map-----------------------------------*/
.infobox {
  border: 2px solid black;
  padding: 10px;
  background: red;
}

/*---------------------------Shadows---------------------------------*/
.navbar,
.badge,
.btn,
.show > .btn-primary.dropdown-toggle,
.card:not([class*="card-outline-"]),
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs,
.modal-dialog.modal-notify .modal-header,
#top-nav-horizontalб .gallery-tags,
#blog-slider .carousel-inner .carousel-item .top-post {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
     -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover,
.btn:active,
.btn:focus,
.modal-dialog .modal-content,
.modal-dialog.cascading-modal .modal-header,
ul.instagram-photos li img,
.media .media-left img {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.modal-dialog.cascading-modal.modal-avatar .modal-header img {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
